﻿/* Top CSS navigation */


/*****Global Nav*****/
.globalNav {
    position: relative;   
    height: 40px;
    clear: both;
    background-color: #173c72;
    float: right;
    font-size: 1.24em;
    width: 727px;
    z-index: 7000;
}
.globalNav #nav_menu li{
    display: inline-block;
    position: relative;
    min-height: 30px;
    margin-top: 0;
    padding: 0px 8px;  
}
.globalNav #nav_menu li:nth-child(1) { padding-left: 0;}
.globalNav #nav_menu li:nth-last-child(1) { padding-right: 0;margin-right: 0px;}
.globalNav #nav_menu a {
    display: block;
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-size: .728em;
    font-weight: 500;
    color: #fff;    
}
#nav_menu {   
	position: relative;	/* !L */
	height: 100%;
	z-index: 1000;
}

/*Global Nav dropdown */
.MainCMSListMenuUL {}/*Level 1 <ul>*/
.MainCMSListMenuLI{}/*Level 1 <li>*/
#nav_menu>li{position: relative;}
#nav_menu>li ul li:hover{  
    background: rgb(0,81,155); /* Old browsers */
    background: -moz-linear-gradient(left,  rgba(14,68,129,1) 0%, rgba(0,81,155,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(14,68,129,1) 0%,rgba(0,81,155,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgba(14,68,129,1) 0%,rgba(0,81,155,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00519b', endColorstr='#0e4481',GradientType=1 ); /* IE6-9 */
    width: 150px;
}

/*****2nd level Global Nav*****/
#nav_menu .SubMenuCMSListMenuUL,#nav_menu .OtherSubMenusCMSListMenuUL{display: none;}
#nav_menu li:hover .SubMenuCMSListMenuUL,#nav_menu .OtherSubMenusCMSListMenuUL {
	background: rgba(0,81,155, .85);
	border: 0;
	display: none;
	margin: 0;
	padding: 0;
	position: absolute;
	text-align: left;
	z-index: 120;
	min-width: 150px;
    top: 20px;   
}
#nav_menu li:hover .SubMenuCMSListMenuUL,#nav_menu li:hover .SubMenuCMSListMenuUL li:hover .OtherSubMenusCMSListMenuUL{display: block;}
#nav_menu li:hover .SubMenuCMSListMenuUL li{float: left; position: relative; width: 159px;}
#nav_menu li:hover .SubMenuCMSListMenuUL li a{
	border: 0;	
	padding: 2px 0px;
	text-align: left;
	width: 96%;
}
.globalNav #nav_menu a.SubMenuCMSListMenuLink {
    box-sizing: border-box;
    padding: 3px 0px;   
}
.globalNav #nav_menu li.SubMenuCMSListMenuLI {
    min-height: 25px;
}
/*reset padding on first <li>*/
.globalNav #nav_menu li.SubMenuCMSListMenuLI:nth-child(1){
    padding-left: 11px;
    padding-top: 5px;
}


/*****3rd level Global Nav*****/
#nav_menu .OtherSubMenusCMSListMenuUL{
	background: rgba(0,81,155, .85);
	position: absolute;
	top: 2px;
	right: -100%;
    width: 180px;
}
#nav_menu li a.SubMenuCMSListMenuLinkArrow{background: url(images/header/menuarrow.gif) no-repeat 97% center;}
/*reset padding on first <li>*/
#nav_menu ul li.OtherSubMenusCMSListMenuLI:nth-child(1){padding-left: 11px; padding-top: 5px;}