﻿/*html5 display rule*/
address, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, nav, menu, main, nav, section, summary {
	display: block;
}

body,html {    
    padding: 0;
    background-color:#f6f5f5;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}
body{margin: 5px 0px}

/*element/selector specific formatting*/
a{
    color:#1c75bc;
}
a img{
    border: none;
}

h1 {
    color: #00519b;
    font-family: "Palanquin",sans-serif;
    font-size: 2.3em;
    font-weight: 400;
    line-height: 1.1em;
}
h2 {
    color: #00519b;
    font-family: "Palanquin",sans-serif;
    font-size: 1.7em;
    font-weight: 400;
    line-height: 1.2em;
}
h3 {
    color: #00519b;
    font-family: "Palanquin",sans-serif;
    font-size: 1.4em;
    font-weight: 500;
    line-height: 1.2em;
}

div ul, div ul li 
{
    font-family: "Palanquin",sans-serif;
    padding: 0;
    margin: 0;
    list-style-type:none
    }

.clearfix
{
    clear: both;
}

/*z-index classes to be used instead of hard-coded z-index values*/

.globalNavZ{
    position: relative;
    z-index: 8000;
}
.headerZ{
    position: relative;
    z-index: 7000;
}
.panelZ{
    position: relative;
    z-index: 6000;
}
.welcomeZ {
    position: relative;
    z-index: 5000;
}
.commZ{
    position: relative;
    z-index: 4000;
}
.stepsNavZ{
    position: relative;
    z-index: 3000;
}
.footerZ{
    position: relative;
    z-index: 2000;
}

/*Panel Nav*/
.panelNav {
     position: relative;
    width: 223px; 
    height: 100%;
    display: table-cell;
    padding-top:37px; 
    float:left;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#173c72+1,00519b+100 */
    background: rgb(23,60,114); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(23,60,114,1) 1%, rgba(0,81,155,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(23,60,114,1) 1%,rgba(0,81,155,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(23,60,114,1) 1%,rgba(0,81,155,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#173c72', endColorstr='#00519b',GradientType=0 ); /* IE6-9 */
}

.panelNav ul{
     position: relative;     
     top: -10px;
     margin-bottom: 30px;
     color: White;
}

.panelNav ul a
{
    color: White;
    text-decoration: none;
    display: block;
    position: relative;
    left: 32px;
	width: 190px;
}


.panelNav ul:nth-child(1){
    
    font-size: 1.1em;
    font-weight: 600;
   /* top: -10px; */
   top: 7px;
}

.panelNav li{
    min-height: 32px;
    width:223px;
    position: relative;
}
.panelNav li:hover
{
    background: rgb(0,81,155); /* Old browsers */
    background: -moz-linear-gradient(left,  rgba(0,81,155,1) 0%, rgba(14,68,129,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(0,81,155,1) 0%,rgba(14,68,129,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgba(0,81,155,1) 0%,rgba(14,68,129,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0e4481', endColorstr='#00519b',GradientType=1 ); /* IE6-9 */
    cursor:pointer;
}

/*Main contaiment element*/
.homeContainer {
    width: 950px;  
    background-color: rgb(0, 81, 155);
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    margin-bottom: 0;
    margin-top: 0;
}

/*Header*/
.headerContainer {
   /* height: 170px; */
    background-color: #78b4e2;
}

.homeHeader{
    height:130px;
    background-color: #00519b;
}
.ccsLogo{
    width: 222px;
    height: 100%;
    float: left;      
    position: relative;
     border: none;
}
    
.ccsLogo a {
    width: 170px;
    display: block;
    height: 101px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;    
    margin: auto;   
}

.ctcLogo{
    background: #fff url(../../App_Themes/TuneUp/images/ctcLinkLogo.jpg) no-repeat;
    height: 30px;
    float: right;
    width: 193px;
}

.ccsBanner {
    width: 535px;
    position: relative;
    height: 100%;
    float: left;   
    color: #fff;
    font-family:  Palanquin, sans-serif;
    font-weight: 100;
    font-size: 36px;   
    /*background-color: rgba(128, 128, 128, 0.4); */
}
.ccsBanner span{
    position: absolute;
    top: 20px;   
    right: 257px;
    width: 50%;
    margin: auto;     
}
.ccsBanner span.bold{
    position: absolute; 
    left: 250px;
    top: -3px;
    color: rgba(255, 255, 255, 0.15);
    font-size: 34px;
    line-height: 80px;
    font-size: 3em;
    font-family:  Palanquin, sans-serif;
    font-weight: 700;
}

.districtNav{
    height: 33px;
    background-color: rgb(254,192,57);
    font-size: 0;
}

.districtNav ul li{
    display: inline-block;
    position: relative;
    width: 33.55%;
    height: 33px;
    background-color: rgb(254,192,57);
    margin-top: 0;
    margin-right: -1px;
    padding: 0;   
    text-align: center;
}

.districtNav ul li a{
    display: block;
    position: absolute;
    width: 90%;
    height: 70%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;    
    margin: auto;   
    text-decoration: none;
    font-family: Arial, sans-serif; 
    font-size: 21px;
    font-weight: 500;
}

ul li.ccsLink, ul li.ccsLink a  {
    background-color: rgb(23,60,114);
    color: #fff;
}
ul li.sccLink, ul li.sccLink a{
    background-color: rgb(120,180,226);
    color: rgb(35,35,35);
}
ul li.sfccLink,ul li.sfccLink a{ 
    color: rgb(51,51,51);
}
 ul li.ccsLink:hover, ul li.ccsLink a:hover  {
    background-color: rgb(33,72,129);
    color: #fff;
}
ul li.sccLink:hover, ul li.sccLink a:hover {
    background-color: rgb(129,194,244);
    color: rgb(35,35,35);
}
ul li.sfccLink:hover, ul li.sfccLink a:hover {
    background-color:rgb(253,203,93);   
    color: rgb(51,51,51);
}

.headerBox {
    width: 193px;
    height: 100%;
    float: left;   
}
.searchAppliance{
    height: 21px;
    margin: 15px 0px;
    position: relative;    
}
.searchAppliance span{
    position: relative;   
    top: -5px; 
}

.searchAppliance .searchCCSbox
{
    width: 150px;
    position: absolute;
    height: 15px;
}

.searchAppliance .searchCCSbutton
{
    position: absolute;
    right: 3px;
}

.searchAppliance .searchDefaultText
{
    color: Gray;
}

/*Content*/
.contentContainer {
    width: 727px; 
    min-height: 700px; 
    float:right;
    background-color: #fff;
}

.subPagePadding
{
    padding-left: 10px;
    padding-bottom: 20px;
}

/*Footer*/
.homeFooter {
    clear: both;
    position: relative;
    margin: 0;
    padding: 0;
    height: 305px;
    background-color: #e6e7e8;   
}

.footerSocial{
    float: left;
    width: 260px;
    height: 100%;
    position: relative;
    overflow: hidden
}
.juicerDiv{
    float:left;
    width: 223px;
    position: relative;
    background: rgb(255, 255, 255);
    height: 305px;
}
.socialMenu ul {
    float: right;
    position: relative;
    top:40px;
    
}
.socialMenu li{    
    position: relative;
    line-height: 0px;
    display: block;
    height: 31px;
    width: 31px;       
}
.socialMenu li a{
   
    line-height: 0px;
    display: block;
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    float: left;
    height: 25px;
    width: 25px;
    text-indent: -1000px;     
}
.socialMenu li a.faceBook { background: url('https://portal.ccs.spokane.edu/_netapps/internationalsa/App_Themes/TuneUp/images/socialSprite.gif') -25px 0 no-repeat;}
.socialMenu li a.twitter {  background: url('https://portal.ccs.spokane.edu/_netapps/internationalsa/App_Themes/TuneUp/images/socialSprite.gif') -25px -25px no-repeat;}
.socialMenu li a.youTube {  background: url('https://portal.ccs.spokane.edu/_netapps/internationalsa/App_Themes/TuneUp/images/socialSprite.gif') -25px -50px no-repeat; }
.socialMenu li a.instagram { background: url('https://portal.ccs.spokane.edu/_netapps/internationalsa/App_Themes/TuneUp/images/socialSprite.gif') -25px -75px no-repeat; }
.socialMenu li a.linkedIn { background: url('https://portal.ccs.spokane.edu/_netapps/internationalsa/App_Themes/TuneUp/images/socialSprite.gif') -25px -100px no-repeat; }
.socialMenu li a.googlePlus { background: url('https://portal.ccs.spokane.edu/_netapps/internationalsa/App_Themes/TuneUp/images/socialSprite.gif') -25px -125px no-repeat;}

.socialMenu li a.faceBook:hover { background: url('https://portal.ccs.spokane.edu/_netapps/internationalsa/App_Themes/TuneUp/images/socialSprite.gif') 0 0 no-repeat;}
.socialMenu li a.twitter:hover {  background: url('https://portal.ccs.spokane.edu/_netapps/internationalsa/App_Themes/TuneUp/images/socialSprite.gif') 0 -25px no-repeat;}
.socialMenu li a.youTube:hover {  background: url('https://portal.ccs.spokane.edu/_netapps/internationalsa/App_Themes/TuneUp/images/socialSprite.gif') 0 -50px no-repeat; }
.socialMenu li a.instagram:hover { background: url('https://portal.ccs.spokane.edu/_netapps/internationalsa/App_Themes/TuneUp/images/socialSprite.gif') 0 -75px no-repeat; }
.socialMenu li a.linkedIn:hover { background: url('https://portal.ccs.spokane.edu/_netapps/internationalsa/App_Themes/TuneUp/images/socialSprite.gif') 0 -100px no-repeat; }
.socialMenu li a.googlePlus:hover { background: url('https://portal.ccs.spokane.edu/_netapps/internationalsa/App_Themes/TuneUp/images/socialSprite.gif') 0 -125px no-repeat;}

/**/
.footerContact{
    float: left;
    width: 292px;
    font-size:8pt; 
    line-height:2em;
    padding-top:40px;  
    padding-left:40px;
    box-sizing: border-box;
}
.footerContact a
{
    color:#000000;
}
.footerNav{
    float: left;
    width: 202px;
    font-size:8pt; 
    line-height:2em;
    padding-top:40px; 
    padding-left: 55px;
    box-sizing: border-box;
}
.footerNav a
{
    color:#000000;
}
.footerBox {
    position: relative;
    width: 195px;
    float: right; 
    top: 0px;
    vertical-align: bottom;
}
.alertNav ul{
    margin-bottom: 30px;
    margin-top:30px;
}
.alertNav li{
    background-color:#bbbbbb;
    margin-bottom: 10px;
    text-align: center;
    padding: 0px 0px;
    font-size:10pt;
}
.alertNav li:hover
{
    background-color: #c9c8c8;
}
.alertNav li a{
    color: #fff;
    text-decoration: none;   
    font-family: Arial, sans serif;
}
.boxPosition{
    position: relative;
}
   
/* RAVE ALERT STYLES */
.raveAlert
{
    padding:10px;
    text-align:center;
    height: 30px; 
    background-color: red; 
}
.raveAlertText
{
        color:White;
    font-size:large;
}
.raveAlertText a
{
    color:White;
    font-weight:bold;
}

.sectionHeading 
{
    background-color:#2a59a5;
    color:White;
    font-weight:bold;
    height:1.5em;
    padding-left: 5px;
    padding-top: 5px;
    width:90%;
}

#global_facebook .global_international_text{left: 810px;}

#global-facebook{
	left: 872px;
	/* top: 298px; */
	top: 158px;
}

#global-facebook-sp{
	left: 872px;
	top: 188px;
}

#global-twitter{
	left: 828px;
	/* top: 300px; */
	top: 160px;
}

#global-twitter-sp{
	left: 828px;
	top: 190px;
}

#global-facebook-international.global-social-sp, #global-twitter-international.global-social-sp{
	top: 245px;
}

#international_landing_image{
	margin-bottom: 30px;
	z-index: 1;
}

/*Socialbar is the main container, use this to position the entire bar*/
.SocialBarSub2 
{
    float: right;
    opacity: 0.8;
    height: 31px;
    width: 200px;
    margin-top: -52px;
    margin-right: 10px;    
}

ul.social-boxes {
    list-style-type: none;
}
/*adjust the margin-right property to change the spacing between icons*/
ul.social-boxes li {
    float: left;
    height: 30px;
    margin: 0;
    width: 30px;
    margin-right: 10px;
}
/*Height and width should match the above values*/
ul.social-boxes li a {
    float: left;
    height: 30px;
    width: 30px;
    text-indent: -4000px;
}
ul.social-boxes li a.box {
    background-color: #1b2a34;
    cursor: pointer;
    left: 0;
    position: relative;
    text-align: center;
    top: 0;
    transition: all 0.2s ease-out 0s;
    vertical-align: middle;
}
/*this will adjust the size and position of the box users interact with... that is why the height is 55px, it doesn't make the image larger, */
/*but it draws down the hover effect lower on the bar to alleviate a bounce effect*/
ul.social-boxes li a.box:hover {
    height: 60px;
    width: 50px;
    left: -10px;
    top: -30px;
    z-index: 1;
    -webkit-animation: boxPulse;
    animation: boxPulse;
}

/*Class specific CSS, affects individual HTML elements by targeting a specific class 'Facebook' */
ul.social-boxes li a.Facebook {
    background: url('/_netapps/internationalsa/App_Themes/images/Social-Media-Icons_sm.png') 0 0;
    background-repeat: no-repeat;
}
ul.social-boxes li a.Facebook:hover {
    background: url('/_netapps/internationalsa/App_Themes/images/Social-Media-Icons.png') 0 0;
    background-repeat: no-repeat;
    -webkit-animation: boxPulse;
    animation: boxPulse;
}
ul.social-boxes li a.TwitterT {
    background: url('/_netapps/internationalsa/App_Themes/images/Social-Media-Icons_sm.png') -30px 0;
    background-repeat: no-repeat;
}
ul.social-boxes li a.TwitterT:hover {
    background: url('/_netapps/internationalsa/App_Themes/_netapps/internationalsa/App_Themes/images/Social-Media-Icons.png') -50px 0;
    background-repeat: no-repeat;
    -webkit-animation: boxPulse;
    animation: boxPulse;
}
ul.social-boxes li a.TwitterBird {
    background: url('/_netapps/internationalsa/App_Themes/images/Social-Media-Icons_sm.png') -60px 0;
    background-repeat: no-repeat;
}
ul.social-boxes li a.TwitterBird:hover {
    background: url('/_netapps/internationalsa/App_Themes/images/Social-Media-Icons.png') -100px 0;
    background-repeat: no-repeat;
    -webkit-animation: boxPulse;
    animation: boxPulse;
}
ul.social-boxes li a.LinkedIn {
    background: url('/_netapps/internationalsa/App_Themes/images/Social-Media-Icons_sm.png') -90px 0;
    background-repeat: no-repeat;
}
ul.social-boxes li a.LinkedIn:hover {
    background: url('/_netapps/internationalsa/App_Themes/images/Social-Media-Icons.png') -150px 0;
    background-repeat: no-repeat;
    -webkit-animation: boxPulse;
    animation: boxPulse;
}

ul.social-boxes li a.GooglePlus {
    background: url('/_netapps/internationalsa/App_Themes/images/Social-Media-Icons_sm.png') -120px 0;
    background-repeat: no-repeat;
}

ul.social-boxes li a.GooglePlus:hover {
    background: url('/_netapps/internationalsa/App_Themes/images/Social-Media-Icons.png') -200px 0;
    background-repeat: no-repeat;
    -webkit-animation: boxPulse;
    animation: boxPulse;
}

ul.social-boxes li a.YouTube {
    background: url('/_netapps/internationalsa/App_Themes/images/Social-Media-Icons_sm.png') -150px 0;
    background-repeat: no-repeat;
}

ul.social-boxes li a.YouTube:hover {
    background: url('/_netapps/internationalsa/App_Themes/images/Social-Media-Icons.png') -250px 0;
    background-repeat: no-repeat;
    -webkit-animation: boxPulse;
    animation: boxPulse;
}

ul.social-boxes li a.Pinterest {
    background: url('/_netapps/internationalsa/App_Themes/images/Social-Media-Icons_sm.png') -180px 0;
    background-repeat: no-repeat;
}

ul.social-boxes li a.Pinterest:hover {
    background: url('/_netapps/internationalsa/App_Themes/images/Social-Media-Icons.png') -300px 0;
    background-repeat: no-repeat;
    -webkit-animation: boxPulse;
    animation: boxPulse;
}

ul.social-boxes li a.Wordpress {
background: url('/_netapps/internationalsa/App_Themes/images/Social-Media-Icons_sm.png') -210px 0;
background-repeat: no-repeat;
}

ul.social-boxes li a.Wordpress:hover {
    background: url('/_netapps/internationalsa/App_Themes/images/Social-Media-Icons.png') -350px 0;
    background-repeat: no-repeat;
    -webkit-animation: boxPulse;
    animation: boxPulse;
}
ul.social-boxes li a.Instagram {
    background: url('/_netapps/internationalsa/App_Themes/images/Social-Media-Icons_sm.png') -240px 0 ; background-repeat: no-repeat;                         
}
ul.social-boxes li a.Instagram:hover {
    background: url('/_netapps/internationalsa/App_Themes/images/Social-Media-Icons.png') -400px 0 ; background-repeat: no-repeat;               
    -webkit-animation: boxPulse;
    animation: boxPulse;
}


.divHideAgency 
{
    display:none;
}

.divHideParentAddr
{
    display:none;
}
.divShowParrentAddr
{
    display:block;
}
.divHideRelative 
{
    display:none;
}

.divHideMedical
{
    display:none;
}
.divShowMedical
{
    display:block;
}
.divHideSpecialNeeds
{
    display:none;
}
.divShowSpecialNeeds
{
    display:block;
}
.divHideHSGrad
{
    display:none;
}
.divShowHSGrad
{
    display:block;
}
.divHideTR
{
    display:none;
}
.divHideCC 
{
    display:none;
    background-color:#fff8dc;
}
.divHideHousingAddress 
{
    display:none;
}

.divHideShowHomeStay 
{
    display:none;
}
.homeStay
{
    background-color:ButtonFace;
}

.divHideFoodEat 
{
    display:none;
    background-color:ButtonFace;
}

.flowBot
{
    width: 80%;
}

.flowBot label
{
    margin-right:20px;
    font-weight:normal;
}

.flowBot2 label
{
    margin-right:175px;
    font-weight:normal;
    width:175px;
}

.divRequiredColor 
{
    background-color:#f0f0f0;
    width:690px;
    float:left;
}

.divError 
{
    color:#DD0000;
}

#studentApp_text li
{
	margin: 0 0 0 0;
}
