﻿#header ul {
	top: 30px;
}

#content.global_content{
	background-image: url(globalimages2/blue_sidebar.png);
	position: relative;
	border-top: 30px solid rgb(42,89,165);
}
 
#global_shadow
{
    left: 216px;
    top: 0;
    width: 734px;
    position: absolute;
    -webkit-box-shadow: inset 0 9px 9px -3px rgba(0,0,0,.3);
	-moz-box-shadow: inset 0 9px 9px -3px rgba(0,0,0,.3);
	-ms-box-shadow: inset 0 9px 9px -3px rgba(0,0,0,.3);
	box-shadow: inset 0 9px 9px -3px rgba(0,0,0,.3);
}

#nav_menu_LI_0_5_3191{display: none;}

/* Page titles for Global site */

#global_header{
	height: 125px;
	position: relative;
	z-index: 0;
}

#global_header h1{
	font: Bold 40px/1em "Arial", "Times New Roman", serif;
	left: 248px;
	margin: 0;
	position: absolute;
	top: 54px;
}

/* Global frontpage navigation */

#global_fp_nav{
	height: 120px;
	margin-bottom: 60px;
	position: relative;
}

#global_fp_nav img
{
    border: 1px solid rgb(42,89,165);
    margin-bottom: 10px;
}

.global_fp_button{
	float: left;
	margin: 0;
	overflow: hidden;
	position: relative;
	width: 309px;
}

#global_fp_button_two{
	margin: 0 11px 0 12px;
}

.global_fp_button a{
	color: rgb(0,0,0);
	text-decoration: none;
}

.global_fp_button a span{
	background: rgb(225,229,243);
	display: block;
	font: Bold 14px/49px Arial, Helvetica, sans-serif;
	height: 49px;
	margin: -4px 0 0 0;
	text-align: center;
	transition: 0.5s background;
		-moz-transition: 0.5s background;
		-ms-transition: 0.5s background;
		-webkit-transition: 0.5s background;
		z-index: 10000;
	width: 100%;
	letter-spacing: 2px; /*Added by Brandy*/
}

.global_fp_button a:hover span{
	background: rgb(188,195,226);	
}

/* Global text */

#global_text{
	float: right;
	margin: 0 30px 150px 0;
	position: relative;
	font: 14px/20px Arial, Helvetica, sans-serif;
	width: 670px;
}

#global_sub_page_text{
	float: right;
	margin: 0 160px 150px 0;
	position: relative;
	font: 14px/20px Arial, Helvetica, sans-serif;
	width: 540px;
}

/*
#global_welcome{
	color: rgb(42,89,165);
	font: normal 30px/1.3em Arial, Helvetica, sans-serif;
	margin: 0 0 32px 0;
	width: 550px;
}
*/

.global-social{
	margin: 0 0 0 0;
	position: absolute;
}

.global-social-fp{
	top: 450px;
}

.global-social img{border: 0;}

#global-facebook{right: 65px;}
#global-facebook.global-social-fp{left: 80px;}
#global-twitter.global-social-fp{left: 120px;}

#global_text h1, #global_sub_page_text h1{
	color: rgb(42,89,165);
	font: normal 30px/1.3em Arial, Helvetica, sans-serif;
	margin: 0 0 32px 0;
}

#global_sub_page_text h1
{
    margin: 0 0 20px 0;
}

#global_text h2, #global_sub_page_text h2{
	font-size: 20px;
	margin-top: 0;
}

#global_text h3, #global_sub_page_text h3{
    color: rgb(42,89,165);
	font-size: 18px;
	margin-top: 0;
}

#global_text a{
	color: rgb(42,89,165);
	text-decoration: none;
}

#global_text ul, #global_sub_page_text ul{
	/*list-style: none;*/
	padding: 0 0 0 16px;
}

#global_text li, #global_sub_page_text li{
	/*background: url(/App_Themes/ieufp/globalimages/arrow.png) 0 5px no-repeat;*/
	margin: 0 0 15px 0;
	/* padding-left: 20px; */
}

/* Global side menu */
#global_bluestripe{
	background: url(/App_Themes/ieufp/globalimages/blue-stripe.png);
	height: 22px;
	position: absolute;
	top: 316px;
	width: 764px;
	z-index: 5;
}

#global_sidemenu
{
	float: left;
	margin: 0 0 30px 0;
	position: relative;
	font: 14px/20px Arial, Helvetica, sans-serif;
	width: 216px;
}

#global_breadcrumb, #global_link{
	font: Bold 16px Arial, Helvetica, sans-serif;
	list-style: none;
	margin: 0 0 0 0;
	padding: 0 0 0 15px;
}

#global_breadcrumb a{
	color: rgb(255,255,255);
	display: block;
	height: 100%;
	text-decoration: none;
	width: 100%;
	padding: 0 0 30px 0;
}

#global_breadcrumb a:hover, #global_breadcrumb a.selected, #global_link{
	color: rgb(126,181,229); 
	text-decoration: underline; 
}

#global_sidemenu h2{
	background: url(/App_Themes/ieufp/globalimages/small_blue_bar.png) 0 top repeat-x;
	color: rgb(42,89,165);
	margin: 64px 0 0 14px;
	padding: 25px 14px 5px 24px;
}

#global_sidemenu_subpages{
	list-style: none;
	margin: 11px 0 0 14px;
	padding: 0;
}

.LevelThreeMenuCMSListMenuUL{display: none !important;}

#global_sidemenu_subpages .MainMenuCMSListMenuLI>a,
a.MainMenuCMSListMenuLinkHighlighted
{
	background: rgb(42,89,165);
	color: rgb(255,255,255);
	display: block;
	font-weight: bold;
	line-height: 35px;
	margin-top: 3px;
	text-decoration: none;
	text-indent: 23px;
	width: 100%;
}

.LevelTwoMenuCMSListMenuUL{
	background: rgb(232,235,246);
	font-size: 13px;
	list-style: none;
	margin: 0;
	padding: 14px 0;
}

#global_sidemenu_subpages .LevelTwoMenuCMSListMenuUL{display: none;}

#global_sidemenu_subpages .LevelTwoMenuCMSListMenuUL a{
	color: rgb(0,0,0);
	display: block;
	text-decoration: none;
	text-indent: 47px;
	width: 100%;
}


/* International Main Menu */
#international_main_menu{
	background-color: rgb(42,89,165);
	display: block;
	position: relative;
	height: 46px;
	z-index: 5;
}

#international_main_menu_list{
	left: 5px;
	list-style: none;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0;
	z-index: 5;
}

#international_main_menu_list a{
	background: url(/App_Themes/ieufp/globalimages/int-menu.png) 0 0 no-repeat;
	color: rgb(126,182,229);
	display: block;
	height: 54px;
	padding: 4px 0 0 0;
	text-align: center;
	text-decoration: none;
	width: 130px;
}

#international_main_menu_list span{
	cursor: hand;
	display: block;
	height: 54px;
	padding: 4px 20px 0 0;
	width: 113px;
}

#international_main_menu_list a:hover,#international_main_menu_list a.selected{
	background: url(/App_Themes/ieufp/globalimages/int-menu.png) 0 bottom no-repeat;
	color: rgb(255,255,255);
}

#international_quick_find p{color: rgb(126,182,229); margin: 6px 0 0 0;}

#international_quick_find select{
	border: 0;
	border-radius: 12px;
		-moz-border-radius: 12px;
		-ms-border-radius: 12px;
		-webkit-border-radius: 12px;
	width: 113px;
}


#international_main_menu_list li{
	float: left;
	font: 14px/17px Arial, Helvetica, sans-serif;
	height: 54px;
	margin: 0 0 0 5px;
	width: 130px;
}

/* International Sub Menu */

#international_students_nav{
	float: right;
	height: 100px;
	list-style: none;
	margin: 13px 0 0 0;
	padding: 0;
	width: 695px;
}

#international_students_nav li{
	float: left;
	font: Bold 12px/17px Arial, Helvetica, sans-serif;
	list-style: none;
	text-align: center;
}

#international_students_nav a{
	background-color: rgb(126,182,229);
	border-radius: 8px;
		-moz-border-radius: 8px;
		-ms-border-radius: 8px;
		-webkit-border-radius: 8px;
	color: rgb(42,89,165);
	display: block;
	height: 35px;
	margin: 0 1px;
	max-width: 120px;
	padding: 5px 15px;
	text-decoration: none;
}

#international_students_nav a:hover, #international_students_nav a.MainCMSListMenuLinkHighlighted{
	color: rgb(255,255,255);
	-webkit-box-shadow: rgba(0,0,0,.5) 5px 5px 5px;
		-moz-box-shadow: rgba(0,0,0,.5) 5px 5px 5px;
		-ms-box-shadow: rgba(0,0,0,.5) 5px 5px 5px;
		-webkit-box-shadow: rgba(0,0,0,.5) 5px 5px 5px;
}

/* International Text */
#global_text.global_international_text{
	margin: 48px 165px 150px 0;
	width: 528px;
}

#global_facebook .global_international_text{left: 810px;}

#global-facebook{
	left: 872px;
	/* top: 298px; */
	top: 158px;
}

#global-facebook-sp{
	left: 872px;
	top: 188px;
}

#global-twitter{
	left: 828px;
	/* top: 300px; */
	top: 160px;
}

#global-twitter-sp{
	left: 828px;
	top: 190px;
}

#global-facebook-international.global-social-sp, #global-twitter-international.global-social-sp{
	top: 245px;
}

#international_landing_image{
	margin-bottom: 30px;
	z-index: 1;
}

/*Socialbar is the main container, use this to position the entire bar*/
.SocialBarSub2 
{
    float: right;
    opacity: 0.8;
    height: 31px;
    width: 200px;
    margin-top: -52px;
    margin-right: 10px;    
}

ul.social-boxes {
    list-style-type: none;
}
/*adjust the margin-right property to change the spacing between icons*/
ul.social-boxes li {
    float: left;
    height: 30px;
    margin: 0;
    width: 30px;
    margin-right: 10px;
}
/*Height and width should match the above values*/
ul.social-boxes li a {
    float: left;
    height: 30px;
    width: 30px;
    text-indent: -4000px;
}
ul.social-boxes li a.box {
    background-color: #1b2a34;
    cursor: pointer;
    left: 0;
    position: relative;
    text-align: center;
    top: 0;
    transition: all 0.2s ease-out 0s;
    vertical-align: middle;
}
/*this will adjust the size and position of the box users interact with... that is why the height is 55px, it doesn't make the image larger, */
/*but it draws down the hover effect lower on the bar to alleviate a bounce effect*/
ul.social-boxes li a.box:hover {
    height: 60px;
    width: 50px;
    left: -10px;
    top: -30px;
    z-index: 1;
    -webkit-animation: boxPulse;
    animation: boxPulse;
}

/*Class specific CSS, affects individual HTML elements by targeting a specific class 'Facebook' */
ul.social-boxes li a.Facebook {
    background: url('/_netapps/internationalsa/App_Themes/images/Social-Media-Icons_sm.png') 0 0;
    background-repeat: no-repeat;
}
ul.social-boxes li a.Facebook:hover {
    background: url('/_netapps/internationalsa/App_Themes/images/Social-Media-Icons.png') 0 0;
    background-repeat: no-repeat;
    -webkit-animation: boxPulse;
    animation: boxPulse;
}
ul.social-boxes li a.TwitterT {
    background: url('/_netapps/internationalsa/App_Themes/images/Social-Media-Icons_sm.png') -30px 0;
    background-repeat: no-repeat;
}
ul.social-boxes li a.TwitterT:hover {
    background: url('/_netapps/internationalsa/App_Themes/_netapps/internationalsa/App_Themes/images/Social-Media-Icons.png') -50px 0;
    background-repeat: no-repeat;
    -webkit-animation: boxPulse;
    animation: boxPulse;
}
ul.social-boxes li a.TwitterBird {
    background: url('/_netapps/internationalsa/App_Themes/images/Social-Media-Icons_sm.png') -60px 0;
    background-repeat: no-repeat;
}
ul.social-boxes li a.TwitterBird:hover {
    background: url('/_netapps/internationalsa/App_Themes/images/Social-Media-Icons.png') -100px 0;
    background-repeat: no-repeat;
    -webkit-animation: boxPulse;
    animation: boxPulse;
}
ul.social-boxes li a.LinkedIn {
    background: url('/_netapps/internationalsa/App_Themes/images/Social-Media-Icons_sm.png') -90px 0;
    background-repeat: no-repeat;
}
ul.social-boxes li a.LinkedIn:hover {
    background: url('/_netapps/internationalsa/App_Themes/images/Social-Media-Icons.png') -150px 0;
    background-repeat: no-repeat;
    -webkit-animation: boxPulse;
    animation: boxPulse;
}

ul.social-boxes li a.GooglePlus {
    background: url('/_netapps/internationalsa/App_Themes/images/Social-Media-Icons_sm.png') -120px 0;
    background-repeat: no-repeat;
}

ul.social-boxes li a.GooglePlus:hover {
    background: url('/_netapps/internationalsa/App_Themes/images/Social-Media-Icons.png') -200px 0;
    background-repeat: no-repeat;
    -webkit-animation: boxPulse;
    animation: boxPulse;
}

ul.social-boxes li a.YouTube {
    background: url('/_netapps/internationalsa/App_Themes/images/Social-Media-Icons_sm.png') -150px 0;
    background-repeat: no-repeat;
}

ul.social-boxes li a.YouTube:hover {
    background: url('/_netapps/internationalsa/App_Themes/images/Social-Media-Icons.png') -250px 0;
    background-repeat: no-repeat;
    -webkit-animation: boxPulse;
    animation: boxPulse;
}

ul.social-boxes li a.Pinterest {
    background: url('/_netapps/internationalsa/App_Themes/images/Social-Media-Icons_sm.png') -180px 0;
    background-repeat: no-repeat;
}

ul.social-boxes li a.Pinterest:hover {
    background: url('/_netapps/internationalsa/App_Themes/images/Social-Media-Icons.png') -300px 0;
    background-repeat: no-repeat;
    -webkit-animation: boxPulse;
    animation: boxPulse;
}

ul.social-boxes li a.Wordpress {
background: url('/_netapps/internationalsa/App_Themes/images/Social-Media-Icons_sm.png') -210px 0;
background-repeat: no-repeat;
}

ul.social-boxes li a.Wordpress:hover {
    background: url('/_netapps/internationalsa/App_Themes/images/Social-Media-Icons.png') -350px 0;
    background-repeat: no-repeat;
    -webkit-animation: boxPulse;
    animation: boxPulse;
}
ul.social-boxes li a.Instagram {
    background: url('/_netapps/internationalsa/App_Themes/images/Social-Media-Icons_sm.png') -240px 0 ; background-repeat: no-repeat;                         
}
ul.social-boxes li a.Instagram:hover {
    background: url('/_netapps/internationalsa/App_Themes/images/Social-Media-Icons.png') -400px 0 ; background-repeat: no-repeat;               
    -webkit-animation: boxPulse;
    animation: boxPulse;
}

/* International text */
.global_international_subpage_text{
	margin-top: 164px;
}

#global_subpage_image
{
    margin-bottom: 31px;
}

.subpage_image
{
    border: 1px solid rgb(42,89,165);
    border-left: none;
}

#global_heading{
	color: rgb(42,89,165);
	margin: 0 0 20px 0;
	font-size: 30px;
	font-weight: normal;
}

#global_subheading{
	color: rgb(0,0,0);
	font-weight: normal;
	font-size: 20px;
	margin-bottom: 35px;
}

#american_honors_logo{
	left: 71px;
	margin: 0;
	position: absolute;
	top: 381px;
}

.sectionHeading 
{
    background-color:#2a59a5;
    color:White;
    font-weight:bold;
    height:1.75em;
}

label 
{
    font-weight:bold;
}
.testInfo
{
    width:200px;
    float:left;
}

.divHideTR
{
    display: none;
}

.divHideAgency 
{
    display:none;
}

.divHideParentAddr
{
    display:none;
}
.divShowParrentAddr
{
    display:block;
}
.divHideRelative 
{
    display:none;
}

.divHideMedical
{
    display:none;
}
.divShowMedical
{
    display:block;
}
.divHideSpecialNeeds
{
    display:none;
}
.divShowSpecialNeeds
{
    display:block;
}
.divHideHSGrad
{
    display:none;
}
.divShowHSGrad
{
    display:block;
}
.divHideHSCP
{
    display: none;
}

.divHideTR
{
    display:none;
}
.divHideCC 
{
    display:none;
    background-color:#fff8dc;
}
.divHideHousingAddress 
{
    display:none;
}

.divHideShowHomeStay 
{
    display:none;
}
.homeStay
{
    background-color:ButtonFace;
}

.divHideFoodEat 
{
    display:none;
    background-color:ButtonFace;
}

.flowBot label
{
    margin-right:20px;
    font-weight:normal;
}

.flowBot2 label
{
    margin-right:175px;
    font-weight:normal;
    width:175px;
}

.divRequiredColor 
{
    background-color:#f0f0f0;
    width:690px;
    float:left;
}

.divError 
{
    color:#DD0000;
}

#studentApp_text li
{
	margin: 0 0 0 0;
}

.radFERPA
{
    background-color: ButtonFace;
    width: 100%;
}
