﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="composeMail.aspx.cs" Inherits="composeMail" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>

<body>
    <form id="form1" runat="server">
    <div>
    <asp:button ID="sendEmail" runat="server" text="Send Email" 
            onclick="sendEmail_Click" />
    </div>
    </form>
</body>
</html>
