﻿<%@ Page Language="C#" AutoEventWireup="true" MasterPageFile="~/internationalGlobal2subpage.master" CodeFile="internationalGlobal2subpage.aspx.cs" Inherits="internationalGlobal2subpage" %>

<asp:Content ID="Content3" ContentPlaceHolderID="HeadContent" Runat="Server">
</asp:Content>

<asp:Content ID="Content2" ContentPlaceHolderID="SubMenuHolder" Runat="Server">
</asp:Content>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentHolder" Runat="Server">
</asp:Content>
