﻿/*#Colors#*/
/*
brand blue #00529a;
sfcc navy blue #1c3d71; 
yellow #fdbf37;
scc light blue #4897d2;
ccs grey #595959;
light grey #e6e7e7;

secondary colors
Blue #6688a0;
green #6e7c34; 
orange #cd5332;
brown #b7a68f; 
purple #6d4277;
maroon #7a2944;
*/


/*#General#*/
body {
	background-color: #FFF;
	margin: 0 auto;
	padding: 0;
	font-weight: normal;
	font-size: 1em;
	line-height: 1.4;
    overflow-x: hidden;
}
body, p {
    color: #404041;
    font-family: 'Merriweather', serif;
    text-rendering: optimizeLegibility;
}
p, ul > li, ol > li {    
	font-size: 1.8rem;
	line-height: 1.6;
    font-weight: 500;
}
ul > li > ul > li, ul > li > ol > li, ol > li > ul > li, ol > li > ol > li {
	font-size: 1em;
}
ul, ol {
	margin-top: 0;
    /*display: inline-block;*/
    /* Above line commented out to correct display problems with regular ol and ul elements and children       */
    /* If this causes other issues, the rule may need to be brought back and made more specific. BN 2017-12-19 */
}
ul.twoColumn {
	columns: 1;
	-webkit-columns: 1;
	-moz-columns: 1;
	list-style-type: disc;
}
img {
	border: none;
    max-width: 100%;
}

h1 {
    text-transform: uppercase;
	color: #1c3d71;
	font-size: 3rem;
    font-weight: 400;
}
.page-title {
    text-align: center;
}
.page-title h1{
    background: rgba(255,255,255,.9);
    padding: 10px 15px; 
    display: inline-block;
    width: auto;  
    margin: 0 0 20px;
    font-size: 2.8rem;
}
.page-title.interior {
    text-align: left;
    /* margin-top: -25px; */
}
.page-title.interior h1 {
    background: none; 
    padding: 0;
}
h2 {
	font-size: 2.7rem;
	color: #1c3d71;
}
h3 {
	font-size: 2.2rem;
	color: #184b90;
    margin-bottom: 5px;
}
h4 {
	font-size: 2rem;
	color: #184b90;
}
h5 {
	font-size: 1.8rem;
	font-weight: 500;
	color: #184b90;
}
h2, h3, h4 {
	font-weight: 300;
}
h1, h2, h3, h4, h5 {
    font-family: 'Open Sans', sans-serif;
	line-height: 1.4;
}
a, a:visited {
	text-decoration: underline;
	color: #00529a;
    font-weight: 500;
}
a:hover, a:focus {
	text-decoration: underline;
    color: #4897d2; 
}
a.arrow {
    text-decoration: none;
}
a.arrow::after {
    content:" \003e "; 
}

div.content-block {
  margin-bottom:3rem;
}

div.content-block ol, div.content-block ul {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

div.content-block ol li, div.content-block ul li {
  line-height: 1.4;
  margin-top: 1rem;
}

.Tile-title a.arrow::after {
    content:""; 
}

@media (min-width: 1200px) {
    body {
	    font-size: 1.2rem;
    } 
    p, ul > li, ol > li {        
        line-height: 1.7;
    }
    h1 {
        font-size: 3.5rem;
    }
    .page-title h1{
        padding: 10px 20px; 
        font-size: 3.2rem;
    }
    h2 {
        font-size: 3rem;
    }
    h3 {
        font-size: 2.5rem;
    }
    h4 {
        font-size: 2.2rem;
    }
    h5 {
        font-size: 2rem;
    }
}
/* Added by KC to support uniform tabular data using specs provided by Gretje 1/8/2018 */
td, th {
  font-family: Merriweather;
  font-size: 1.8rem;
  line-height: 1.7;
}

/*#Header#*/
header {
    font-family: 'Open Sans', sans-serif;
}
.global-links {
    background: #e6e7e7;
    position: relative;
    border-bottom: 3pt solid #1c3d71; 
    height: 50px; 
}
.global-links ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}
.global-links li {
    float: left;
    font-size: 1.4rem;
    margin-right: 1px; 
}
.global-links ul li a {
    text-decoration: none;
    display: inline-block;
    padding: 12px 5px; 
    color: #4d4d4d;
}
.sites {
    float: left;
}
.sites li {
    text-transform: uppercase;
}
.global-links .sites ul li a {
    padding: 13px 7px;
}
.sites li a:hover, .sites li a:focus, .sites li a.active {
    background: #1c3d71;
    color: #fff;
}
.brand-area {
    background: 
            linear-gradient(
              rgba(109,110,112,.9), 
              rgba(109,110,112,.9)
            ), url(/_netapps/internationalsa/App_Themes/images/MasterAssets/CCS-header-mobile.jpg);
    padding: 10px 0;
    border-bottom: 3pt solid #4897d2;
}
.logo {
    text-align: center;
}
.logo img {
    max-width: 400px;
    width: 100%; 
}

@media (min-width: 768px) {
    .global-links .container {
        padding: 0;
    }
    .tools {
        float: right;
    }
    .tools .button {
        float: right;
        margin: 5px 15px 5px 0;
        font-size: 1.3em;
    }
}
@media (min-width: 992px) {
    .tools {
        width: 660px;
    }
    .tools .dropdown {
        float: left;
        margin: 9px 5px;
    }
    .tools .dropdown .btn-default, .tools .open > .dropdown-toggle.btn-default {
        padding: 4px 9px;
        background-color: #fff;
        border: 1px solid #ccc;
    }
    .tools .dropdown .dropdown-menu {
        background-color: #fff;
        border-radius: 0;
    }
    .tools .dropdown .dropdown-menu li {
        float: left;
        font-size: 1em;
        margin: 0;
    }
    .tools .dropdown .dropdown-menu li, .tools .dropdown .dropdown-menu li a {
        width: 100%; 
    }
    .tools .dropdown .dropdown-menu li a:hover {
        color: #00529a;
        background: #e6e7e7;
    }
    .global-links .tools > ul li {
        margin: 0 9px;
    }
    .global-links .tools > ul li a {
        padding: 12px 0 3px; 
        border-bottom: 2pt solid transparent;
    }
    .global-links .tools > ul li a:hover, .global-links .tools > ul li a:focus, .global-links .tools > ul li a.active {
        border-bottom: 2pt solid #4d4d4d;
    }
    .brand-area {
        background: 
            linear-gradient(
              rgba(109,110,112,.9), 
              rgba(109,110,112,.9)
            ),
            url(/_netapps/internationalsa/App_Themes/images/MasterAssets/CCS-header-bg.jpg);
        background-position: center;
        background-repeat: no-repeat;
        height: 125px;
        padding: 25px 0;
    }
    .brand-area .search {
        margin: 18px 0;
    }
    .logo {
        float: left;
    }
    .logo img {
        max-width: 550px;
    }
    .brand-area .search .form-control {
        width: 300px;
        font-size: 18px;
        height: auto;
    }
}
@media (min-width:1200px) {
    .sites {
        margin-left: 15px;
    }
    .brand-area .container {
       padding: 0;
    }
    .global-links li, .tools .button {
        font-size: 1.4rem;
    }
    .tools .button {
        margin-right: 0;
    }
    .brand-area .search .form-control {
        width: 350px;
    }
}
/*#Navigation#*/
.navbar {
    background: #fff;
    border-bottom: 1pt solid #bbbdc0;
}
.navbar .container {
    padding: 0;
}
.navbar .container > .navbar-header {
    float: left;
    margin-left: 5px;
}
.search {
    float: right;
}
.search.mobile-only {
    margin: 11px 15px;
    width: 60%;
}
.navbar-toggle, .navbar-toggle:hover, .navbar-toggle:focus, .navbar-toggle.collapsed {
    background: transparent;
}
.navbar-toggle .icon-bar, .navbar-toggle.collapsed .icon-bar {
    background: #595959;
}
.navbar-toggle .icon-bar {
    width: 40px;
    height: 5px;
}
.navbar-toggle .icon-bar + .icon-bar {
    margin-top: 8px;
}
span.left {
    float: left;
    margin-right: 10px;
}
span.menu {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.3rem;
    margin-top: 5px;
    display: inline-block;
}
.navbar-collapse.in {
    border-top: 1pt solid #bbbdc0;
}
.navbar-nav, .navbar-collapse .global ul, .navbar-collapse .global ul li a {
    width: 100%; 
}
.nav > li > a {
    font-weight: 700; 
    color: #1c3d71;
    border-bottom: 1pt solid #bbbdc0;
    padding: 18px 15px
}
.nav > li > a:hover, .nav > li > a:focus, .nav > li.active > a {
    background: #e6e7e7;
}
.navbar-collapse .global ul {
    list-style-type: none; 
    padding: 15px 0;
    margin: 0;
}
.navbar-collapse .global ul li {
    font-size: 1.4em;
}
.nav > li > a, .navbar-collapse .global ul li a {
    text-decoration: none;
}
.navbar-collapse .global ul li a {
    color: #4d4d4d;
    padding: 10px 15px;
    display: inline-block;
}
.navbar-collapse .global ul li a:hover, .navbar-collapse .global ul li a:focus {
    text-decoration: underline;
}
.navbar-collapse .global .dark-grey-bg ul li a {
    color: #fff;
}
.navbar-collapse .button {
    margin: 0 0 15px 15px;
}
.navbar-collapse .light-grey-bg {
    padding-bottom: 30px;
}
/*bb*/
.dropdown-menu{
  min-width:230px;
}
@media (min-width: 992px) {
    .navbar-collapse.in {
        border: 0;
    }
    .nav > li {
        font-size: 1.38rem;
    }
    .nav > li > a {
        border: 0;
        padding: 13px 10px;
    }
  
}
@media (min-width: 1200px) {
    .nav > li {
        font-size: 1.48rem;
    }
    .nav > li > a {
        padding: 13px 15px;
    }
}
@media (min-width: 1400px) {
    .nav > li {
        font-size: 1.68rem;
    }
    .nav > li > a {
        padding: 13px 20px;
    }
  .nav > li > ul > li{
        font-size:1.38rem;
  }
  
}

/*#Breadcrumbs#*/
ol.breadcrumb, div.breadcrumb {
    font-family: 'Open Sans', sans-serif;
    margin: 30px 0;
}
ol.breadcrumb > li, .breadcrumb {
    font-size: 1.5rem; 
    font-weight: 400;
}

ol.breadcrumb > li a, .breadcrumb a {
    text-decoration: none;
}
ol.breadcrumb > li a:hover, .breadcrumb a:hover {
    text-decoration: underline;
}
.breadcrumb > li + li:before {
    content: "»";
}
.breadcrumb > .active, .breadcrumb > li + li:before {
    color: #414042;
}


/*#Borders#*/
@media (min-width: 992px) {
    .brown-border-left {
        border-left: 1pt solid #6d6e71;
        margin-left: -1px;
        padding-left: 21px;
    }
    .brown-border-right {
        border-right: 1pt solid #6d6e71;
        padding-right: 20px;
    }
}
/*#Hero Images#*/
.hero-image {
    position: relative;
    max-height: 750px;
    overflow: hidden;
}
.hero-image img {
    width: 100%; 
    height: auto;
}
.hero-image.landing-page img {
    height: 650px; 
    width: auto; 
    max-width: inherit;
}
.hero-image .overlay {
    background: rgba(255,255,255,.8);
    padding: 20px;
}
.hero-image .overlay h2 {
    margin-top: 0;
}
.hero-image .overlay p {
    font-size: 1.6rem;
}
.hero-image.interior {
    max-height: 350px; 
    overflow: hidden;
}
.hero-image.study-page img {
    height: 300px; 
    width: auto; 
    max-width: inherit;
}
@media (min-width: 768px) {
    .hero-image .overlay {
        position: absolute;
        bottom: 5%;
        max-width: 600px;
    }
    .hero-image.landing-page img {
        height: 600px;
    }
     .hero-image.study-page img {
        height: auto; 
        width: 100%; 
        max-width: 100%;
    }
}
@media (min-width: 992px) {
    .hero-image .overlay {
        bottom: 10%;
    }
    .hero-image.landing-page img {
        height: 550px;
    }
}
@media (min-width: 1200px) {
    .hero-image .overlay {
        padding-left: 4%;
    }
    .hero-image.landing-page img {
        height: 700px;
    }
}
@media (min-width: 1400px) {
    .hero-image .overlay {
        padding-left: 6%;
        max-width: 700px;
    }
}
@media (min-width: 1600px) {
    .hero-image .overlay {
       padding-left: 8%;
        max-width: 900px;
    }
    .hero-image.landing-page img {
        height: auto;
        max-width: 100%;
        width: 100%;
    }
}
@media (min-width: 1800px) {
    .hero-image .overlay {
       padding-left: 12%;
         
    }
}



/*#Backgrounds and Sections#*/
.row-5 {
    margin: 0 -5px 3rem 0;
    display: inline-block;
    width: 100%;
}
.row-5 .col-xs-1, .row-5 .col-sm-1, .row-5 .col-md-1, .row-5 .col-lg-1, 
.row-5 .col-xs-2, .row-5 .col-sm-2, .row-5 .col-md-2, .row-5 .col-lg-2, 
.row-5 .col-xs-3, .row-5 .col-sm-3, .row-5 .col-md-3, .row-5 .col-lg-3, 
.row-5 .col-xs-4, .row-5 .col-sm-4, .row-5 .col-md-4, .row-5 .col-lg-4, 
.row-5 .col-xs-5, .row-5 .col-sm-5, .row-5 .col-md-5, .row-5 .col-lg-5, 
.row-5 .col-xs-6, .row-5 .col-sm-6, .row-5 .col-md-6, .row-5 .col-lg-6, 
.row-5 .col-xs-7, .row-5 .col-sm-7, .row-5 .col-md-7, .row-5 .col-lg-7, 
.row-5 col-xs-8, .row-5 .col-sm-8, .row-5 .col-md-8, .row-5 .col-lg-8, 
.row-5 .col-xs-9, .row-5 .col-sm-9, .row-5 .col-md-9, .row-5 .col-lg-9, 
.row-5 .col-xs-10, .row-5 .col-sm-10, .row-5 .col-md-10, .row-5 .col-lg-10, 
.row-5 .col-xs-11, .row-5 .col-sm-11, .row-5 .col-md-11, .row-5 .col-lg-11, 
.row-5 .col-xs-12, .row-5 .col-sm-12, .row-5 .col-md-12, .row-5 .col-lg-12 {
    padding: 0 5px;
}
.white-bg {
    
}
.three-column {
    margin: 0 0 70px 0;
}
.dark-grey-bg {
    background: #595959;
}
.light-grey-bg {
    background: #e6e7e7;
    position: relative;
    margin-bottom: 50px; 
    padding: 20px 0;
}
.dark-blue-bg {
    background: #00529a;
    position: relative;
    margin-bottom: 50px; 
    padding: 20px 0;
}
/*
Making sides of divs "pointy":
  http://www.howtocreate.co.uk/tutorials/css/slopes
  https://stackoverflow.com/questions/13774061/how-to-make-one-side-of-a-div-pointy-with-css 
*/
section.light-grey-bg::after {
    width: 0; 
    height: 0; 
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    content: "";
    border-top: 30px solid #e6e7e7;
    margin-left: -35px;
    top: 100%;
    position: absolute;
    left: 50%;
}
/* The following three dark-blue-bg related rules were made specific to direct children of a form element
   to prevent display of the pointed ::after element for left and right nav pages. BN 2017-11-28 */
form > section.dark-blue-bg::after {
    width: 0; 
    height: 0; 
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    content: "";
    border-top: 30px solid #00529a;
    margin-left: -35px;
    top: 100%;
    position: absolute;
    left: 50%;
}
section.light-grey-bg.last, form > section.dark-blue-bg.last {
    margin-bottom: 0; 
}
section.light-grey-bg.last::after, form > section.dark-blue-bg.last::after {
    display: none; 
}
.top-section {
    max-width: 1000px; 
    margin: 0 auto;
}
.top-section h2 {
    margin: 0 0 17px;
}
@media (min-width: 768px) {
    section.light-grey-bg {
        padding: 30px 0;
    }
    .top-section {
        text-align: center;
        font-size: 1.1em;
    }
}
@media (min-width: 1200px) {
    section.light-grey-bg {
        padding: 50px 0;
    }
    .light-grey-bg {
        margin-bottom: 70px; 
    }
}

/*#Highlights#*/
.highlights {
    margin: 30px 0;
}
.HL-item {
    display: inline-block;
    width: 100%;
    padding: 30px 0; 
    /*padding-bottom: 40px; 
    margin-top: 40px;*/
}
.HL-item, .HL-item .flex-height {
    position: relative;
}
.HL-item::after {
    content: "";
    position: absolute;
    left: 15%;
    height: 1px;
    width: 70%;
    border-top: 2pt solid #a7a9ab;
    z-index: 1;
    top: 100%;
}
.HL-item:last-child::after {
    display: none;
}
.HL-image {
    text-align: center;
    margin-bottom: 20px;
}
.HL-image img {
    width: 100%;
    max-width: 500px;
}
.HL-content .title {
    font-size: 3rem;
	line-height: 1.4;
    margin-bottom: 15px;
    font-family: 'Open Sans', sans-serif;
}
.HL-content .title, .HL-content .title a {
	color: #1c3d71;
    font-weight: 300;
}
.HL-content .title a {
    text-decoration: none;
    color:#fff;
}
.blue-bg .HL-content .title, .blue-bg .HL-content .title a, .blue-bg .HL-content p, .purple-bg .HL-content .title, .purple-bg .HL-content .title a, .purple-bg .HL-content p{
  color:#fff;
}
.blue-bg .button a, .purple-bg .button a{
  background:#fff;
  color:#1c3d71;
  text-transform:capitalize;
}
.blue-bg .button a:hover{

}
.HL-content .title a:hover, .HL-content .title a:focus {
	text-decoration: underline;
}
.blue-bg .HL-content, .purple-bg .HL-content{
  margin:0 40px;
}
.blue-bg .HL-image, .purple-bg .HL-image{
  padding:0;
}

@media (min-width: 768px) {
    .highlights {
        margin: 40px 0;
    }
    .HL-image {
        margin-bottom: 0px;
        padding:0;
    }
}
/*ali's update */
@media (min-width: 992px) {
    .highlights {
        margin: 50px 0;
    }
    .HL-item .flex-height {
        position: relative;
    }
    .HL-item .flex-height.right {
        right: 0;
    }
    .HL-image img {
        max-width: 100%;
    }
}
@media (min-width: 1200px) {
    .highlights {
        margin: 70px 0;
    }
}


/*#Events#*/

.events-top {
    margin-bottom: 20px;
}
.event {
    margin-bottom: 20px;
    display: inline-block;
}
.date {
    background: #6d6e70;
    padding: 10px 10px 7px;
    color: #fff;
    text-align: center;
    float: left;
    width: 60px;
    margin: 0 15px 15px 0;
}
.featured .date {
    padding: 20px;
    width: 100%;
}
.date .month {
    text-transform: uppercase;
    font-size: 15px;
}
.featured .date .month {
    font-size: 19px;    
    margin-bottom: 5px;
}
.date .day {
    font-size: 25px;
}
.featured .date .day {
    font-size: 40px;
}
.event-info {
    float: left;
}
.event-info div p {
    font-size: 1.4em;
    font-weight: 500;
}
.date .month, .event-info, .event-info div p {
    font-family: 'Open Sans', sans-serif;
}
.event-info .title {
    font-size: 1.7em;
    margin-bottom: 10px;
}
.event-info .title, .event-info .title a {
    font-weight: 700;
}

@media (min-width: 768px) {
    .event {
        margin-bottom: 15px;
    }
    .featured .date {
        width: 160px;
    }
    .event-info {
        width: 70%;
    }
}
@media (min-width: 992px) {
    .event-info {
        width: 62%;
    }
    article.featured {
        min-width:510px;
    }
}

/*#buttons#*/
.button {
    margin: 15px 0; 
    font-size: 1.4em;
    line-height: 1.3;
    font-family: 'Open Sans', sans-serif;
}
.button a, .button > input {
    display: inline-block;
    border-radius: 9px; 
    padding: 12px 15px; 
    background: #00529a;
    color: #fff;    
    font-weight: 500;
    text-decoration: none;
    text-align: center;
}
.dark-blue-bg .eventscontainer .button a {
    margin-top: 1em;
}
.button.multi-slider{
  display: inline-block;
  margin-right: 10px;
}
.button.multi-slider > input{
  border: none;
}
header .button a {
    padding: 10px; 
    min-width: inherit;
}
.button a:hover, .button a:focus, .button input:hover, .button input:focus, .button.multi-slider.selected > input {
    background: #4897d2;
    color: #fff;
}
.button.white a {
    background: #fff;
    color: #4d4d4d;
}
.button.white a:hover {
    background: #d1d2d4;
    color: #00529a;
}
.button.yellow a {
    background: #fdbf37;
    color: #4d4d4d;
}
.button.yellow a:hover, .button.yellow a:focus {
    background: #f9d182;
    color: #4d4d4d;
}
.button.alert a {
    background: #cd5332;
    color: #fff;
}
.button.alert a:hover, .button.alert a:focus {
    background: #a33116;
    color: #fff;
}
@media (min-width: 768px) {
    .button {
        margin: 25px 0; 
    }
    header .button {
        margin: 15px 0; 
    }
    .button.right {
        float: right;
        margin-top: 0;
    }
}
@media (min-width: 992px) {
    .button a {
        padding: 12px 20px; 
    }
    .btn-group .button a {
        min-width: 200px;
    }
}

/*#Colored Overlays#*/
.colored-overlay {
	position: relative;
	width: 100%;
    margin: 5px auto;
    text-align: center;
    max-width: 575px;
}
.col-md-4 .colored-overlay {
    max-width: 470px;
}
.colored-overlay.animate {
    text-align: left;
}
.colored-overlay:before {
	content: "";
	display: block;
	padding-top: 70%;
}
.col-md-4 .colored-overlay:before {
	padding-top: 100%;
}
.colored-overlay * {
    color: #fff!important;
}
.colored-overlay a {
    text-decoration: none;
}
.FastFactTile .colored-overlay a{
	text-decoration:underline;
}
.colored-overlay .content {
    padding: 20px 40px;
    position: relative;
}
.colored-overlay.animate .content {
    padding: 20px 20px;
}
.colored-overlay .overlay-image {
    position: absolute;
    top: 0;
    opacity: .1;
}
.colored-overlay.animate .overlay-image {
    opacity: 1;
}
.colored-overlay * {
   width: 100%;
}
.colored-overlay.animate .content-area .content {
    position: absolute;
    bottom: 0; 
}
.colored-overlay.rollover .content-area .content {
    position: absolute;
    bottom: 19%; 
}

.left-nav-main .colored-overlay.rollover .content-area .content {
    position: absolute;
    bottom: 24%; 
}
.left-nav-main .colored-overlay.rollover .content-area .content.two-line {
    bottom:35%;
}
@media (max-width: 991px) {
  .colored-overlay.rollover .content-area .content {
      position: absolute;
      bottom: 17%; 
  }
  
 .left-nav-main .colored-overlay.rollover .content-area .content {
      position: absolute;
      bottom: 17%; 
  }
}

@media (max-width: 753px) {
  .colored-overlay.rollover .content-area .content {
      position: absolute;
      bottom: 16%; 
  }
}

@media (max-width: 470px) {
  .colored-overlay.rollover .content-area .content {
      position: absolute;
      bottom: 19%; 
  }
}

@media (max-width: 375px) {
  .colored-overlay.rollover .content-area .content {
      position: absolute;
      bottom: 25%; 
  }
}

@media (max-width: 350px) {
  .colored-overlay.rollover .content-area .content {
      position: absolute;
      bottom: 25%; 
  }
}


.colored-overlay h3 {
    margin-top: 0;
    font-weight: 700;
    font-size: 3em;
}
.colored-overlay h4 {
    font-size: 2em;
    line-height: 1.5;
}
.colored-overlay h3 a, .colored-overlay h4 a {
    font-weight: 300;
}

/*#Main Section Boxes#*/
.content-over-image {
    position: absolute;
    top: 30px;
    width: 100%;
}
.sub-nav *, .study-search * {
    font-family: 'Open Sans', sans-serif;
}
.sub-nav, .study-search {
    background: rgba(255,255,255,.9);
    padding: 20px 40px 30px;
    margin: 0 0 15px 0;
}
.study-search .form-control {
    height: 40px; 
    font-size: 18px;
}
.sub-nav {
    font-size: 0.85em; 
    padding: 15px 15px 5px;
    position: relative;
}
.sub-nav h2, .sub-nav h3 {
    font-size: 2.1em;
    width: 88%;
}
.sub-nav h2, .sub-nav h3, .study-search h2 {
    margin-bottom: 10px;
    margin-top: 0;
    font-size: 1.9em;
}
.sub-nav h2, .sub-nav h3, .sub-nav h2 a, .sub-nav h3 a {
    font-weight: 600;
    text-decoration: none;
    color: #1c3d71;
}
.sub-nav h2 a:hover, .sub-nav h3 a:hover {
    color: #6e7c34;
}
.sub-nav h2 a:hover:after, .sub-nav h3 a:hover:after {
    background: #6e7c34;
}
.sub-nav p, .sub-nav ul, .sub-nav ul li {
    margin-bottom: 8px;
    font-weight: 500;
}
.sub-nav h4 {
    font-size: 1.8rem;
}
.sub-nav ul {
    padding-left: 20px;
    width: 100%;
}
.sub-nav ul li a {
    font-weight: 700;
}
.sub-nav p {
    display: none;
}

@media (min-width: 768px) {
    .sub-nav h2, .sub-nav h3 {
        width: 100%;
    }
    .sub-nav p {
        display: block;
    }
    .sub-nav{
    height:200px;
  }
}
@media (min-width: 900px) {
    .sub-nav, .study-search {
        margin: 0 0 30px 0;
    }
}
@media (min-width: 1200px) {
    .sub-nav {
        padding: 20px 20px 10px;
    }
    .sub-nav h2, .sub-nav h3, .study-search h2 {
        font-size: 2em;
    }
    .content-over-image {
        top: 55px;
    }
    .sub-nav {
        /*min-height: 200px;*/
        
    }
}



/*#Image Link Left#*/
.image-link-left {
    display: inline-block;
    margin: 20px 0;
}
.image-link-left > .col-xs-12 {
    padding: 0; 
}
.image-link-left, .image-link-left .IL-img img {
    width: 100%;  
}
.image-link-left .IL-content {
    padding: 30px 20px;
}
.IL-content * {
    color: #fff;
}
.IL-content h2, .IL-content h3, .IL-content h4 {
   margin-top: 0;
}
.IL-content .button {
   margin-bottom: 0;
}
@media (min-width: 768px) {
    .image-link-left .IL-content {
        padding: 15px;
    }
}
@media (min-width: 992px) {
    .image-link-left .IL-content {
        padding: 40px;
    }
}


/*#Left Nav#*/
.left-nav {
    background: #e6e7e8;
    padding: 15px;
    margin: 50px 0;
}
.left-nav h2 > a {
  font-weight:300;
  padding:0px;
  color:#1c3d71;
}
.left-nav h3 {
    margin-top: 0;
    width: 92%;
}
.left-nav ul {
    list-style-type: none;
    padding-left: 0px;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 30px;
}
.left-nav ul > li > ul {
    margin-bottom:0px;
}
.left-nav > ul > li {
    margin: 5px 0;
    line-height: 1.6;
    font-size: 1.5em;
    /*padding-left: 15px;*/
    color: #414042;
}
.left-nav > ul > li > ul > li {
    font-size:.8em;
}
.left-nav > ul > li > ul > li > a {
  padding-left:20px;
}
.left-nav > ul > li > ul {
  display:none;
}
.left-nav > ul > li.active > ul {
  display:block;
}
.left-nav a {
    text-decoration: none;
    color: #414042;
    padding: 6px 12px 6px 12px;
    display: inline-block;
}
.left-nav ul, .left-nav > ul > li, .left-nav a {
    width: 100%;
}
.left-nav a::after {
    /*content: " \003e ";*/
}
.left-nav li:hover > a, .left-nav li.active > a {
    background: #fff;
}
.left-nav li:hover a, .left-nav li.active a, .left-nav a:hover, .left-nav a:focus {
    color: #6d6e71;
}
@media (min-width: 768px) {
    .left-nav {
       margin: 0 0 70px 0;
    }  
}
@media (min-width: 992px) {
    .left-nav {
        padding: 30px 0 30px 20px;
    }  
}
/*#Search Box#*/
.PagerControl
{
  margin-left: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.searchBox
{
  background-color:#e6e7e7;
  height: 61px;
  margin-bottom: 10px;

}
.ccsSearchBtn
{
  font-size: 1.5em;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
  border-radius: 7px;
  border: 3px solid #fff;
  background-color:#cd5332;
  color: #fff;
  text-align: center;
  text-decoration: none;
  padding: 4px;
  margin: 10px 0px 10px 20px;
  position: relative;
  float: left;
  box-shadow: 0 8px 6px -6px #000;
}
.btn.ccsSearchBtn:hover
{
  color:white;
  border-radius: 7px;
  border: 3px solid #fff;
  background-color:#cd5332;
}
.ccsSearchBtn.btn.btn-default a:hover {
  color:red;
  background: white;
}
.ccsSearchBox
{
  width: 80%;
  height: 45px;
  color: #555;
  margin-left: 20px;
  margin-top: 13px;
  padding-left: 5px;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5rem;
}
/* added 12/20/2017 by Laura P to eliminate the border around the Kentico form submit buttons */
.FormButton.btn.btn-primary
{
  border: 0px;
}
.ccsNewsSearchBox .searchBox
{
  background-color: #fff;
  margin-top: -23px;
}
.ccsNewsSearchBox .ccsSearchBox
{
   margin-left: 15px; 
}
.form-control
{
  display: inline;
  margin-bottom: 0px;
}


/*#Green Boxes, Drawers, Side Box#*/
.green-border-box, .green-external-link, .panel-heading, .side-box * {
    font-family: 'Open Sans', sans-serif;
}
.green-border-box {
    border: 1pt solid #6e7c34;
    border-left-width: 4pt; 
    padding: 10px 10px 10px 20px; 
}
.green-border-box, .green-external-link {
    margin: 15px 0;
    font-size: 1.8em; 
    font-weight: 300;
    width: 100%;
    position: relative;
}
.green-external-link a {
    background: #6e7c34;
    color: #fff;
    padding: 15px 40px 15px 15px;
    width: 100%;
    text-decoration: none;
    display: inline-block;
}
.green-external-link a:hover, .green-external-link a:focus {
    background: #535b25;
    color: #fff;
}

/*Drawers*/
.panel-group .panel {
    margin: 15px 0;
}
.panel-heading {
    font-size: 2em;
    font-weight: 300;
    color: #60514f;
    line-height: 1.4;
    margin: 0;
}
.panel-heading a {
    text-decoration: none;
    background: #e6e7e7;
    width: 100%; 
    display: inline-block;
    padding: 10px;
}
.accordion-border .panel .panel-heading a {
    text-decoration: none;
    background: #fff;
    width: 100%; 
    display: inline-block;
    padding: 10px;
    border:solid 1px #bcbec0;
  
  }

.panel-collapse{
    border-top:none;
}

.accordion-border .panel .panel-collapse{
    border:solid 1px #bcbec0;
    border-top:none;
}


.panel-collapse.collapse.in, .panel-collapse.collapsing {
    background: #e6e7e7;
    width: 100%; 
}
.panel-heading a.collapsed {
    background: transparent;
}
.panel-group a.collapsed:before, .panel-group a.collapsed:hover:before {
    content: "+";
}
.panel-body {
    padding: 10px 35px 20px;
}

/*Side Box*/
.side-box {
    padding: 30px 20px; 
    text-align: center;
    margin-bottom: 30px;
}
.side-box *, .side-box p a, .side-box p a:visited {
    color: #fff;
    margin-top: 0;
}

/*#Search Pages#*/
.search-box {
    margin-bottom: 20px; 
}
.alphabet {
    font-size: 1.5em;
    letter-spacing: 4px;
    margin-bottom: 20px; 
}
.alphabet a {
    
}
.aZ-list {
    border-bottom: 1pt solid #e6e7e7;
    margin-bottom: 10px;
    padding-bottom: 5px;
}
.aZ-list .letter {
    font-size: 2.5em; 
    color: #1c3d71;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
}
.aZ-list .results {
    
}
.aZ-list .results ol {
    list-style-type: none;
    padding: 0;
    width: 100%;
}
.aZ-list .results ol a {
    text-decoration: none;
}
.aZ-list .results ol a::after {
    content: " \003e ";
}


@media (min-width: 768px) {
    .aZ-list .results ol {
        columns: 2;
        -webkit-columns: 2;
        -moz-columns: 2;
    }
    .aZ-list .results ol li {
        width: 50%;
    }
}
/*#Footer#*/
footer * {
    font-family: 'Open Sans', sans-serif;
}
.quick-links-bottom {
    margin: 0;
    background: #d1d2d4;
    padding: 10px 0;
}
.quick-links-bottom .col-xs-12 {
    margin: 10px 0;
}
.quick-links-bottom .col-xs-12 p {
    font-size: 1.8rem;
    margin-bottom: 0;
}
.quick-links-bottom .col-xs-12 p, .quick-links-bottom a {
    font-weight: 700;
    color: #1c3d71; 
}
footer .dark-grey-bg {
    padding: 25px 0;
}
footer .dark-grey-bg * {
    color: #fff;
}
footer a {
    text-decoration: none;
}
footer a:hover, footer a:focus {
    text-decoration: underline;
}
.social-media {
    width: auto; 
    margin: 10px 0;
}
.social-media a {
    display: inline-block;
    margin: 5px 10px;
}
footer .universal-links {
    border-top: 2pt solid #808284;
    display: inline-block;
    margin: 10px 0 0;
    padding: 10px 0 0;
    width: 100%;
}
footer .universal-links p {
    margin: 0;
    font-size: 1.56rem;
}
.quick-links-bottom .info, .quick-links-bottom .info p, footer .address, .footer-top, footer .universal-links {
    text-align: center;
}
.footer-top .col-xs-12 {
    margin: 10px 0;
}
.universal-links p span {
    display: none;
}
.universal-links p a {
    float: left;
    width: 100%;
    margin: 8px 0;
}

@media (min-width: 768px) {    
    footer .address {
        text-align: right;
    }
    .social-media a {
        margin: 5px;
    }
    footer .universal-links {
        margin-top: 20px;
    }
    .universal-links p span {
        display: inline;
        margin: 0 8px;
    }
    .universal-links p a {
        float: inherit;
        width: auto;
        margin: 0;
    }
}
@media (min-width: 992px) {
    footer .address {
        text-align: center;
    }
    footer .social-media {
        float: right;
    }
}

/*#Formatted Content#*/
.formattedcontent {
  font-size: 1.8rem;
  margin: 1em 0;
}

.formattedcontent:after {content:" ";padding:.3em;}
.formattedcontent img.floatright {float:right;margin-left:1em;}
.formattedcontent img.floatleft {float:left;margin-right:1em;}

.formattedcontent div.in {display:table;}

/*#Forms#*/
.ccs-form {
    margin-bottom: 20px;
}
.ccs-form * {
    font-family: 'Open Sans', sans-serif;
}
.ccs-form .col-xs-12 {
    margin-bottom: 15px;
}
.ccs-form .form-control {
    margin-bottom: 15px;
    height: 40px; 
}
.ccs-form .button {
    text-align: center;
}
/* added by LP 1/18/2018 to control calendar input width and display calendar icon */
.ccs-form .form-control 
{
  width: 30%;
}

.ccs-form .btn
{
  background-color: #fff; 
  background-image: url('/ccsglobal/media/Global/WidgetAssets/Icons/calendar-icon60x59.png');
  width: 62px;
  height: 61px;
  margin-left: 20px;
  border: 0px;
  background-repeat: no-repeat;
}

.icon-calendar
{
  font-family: 'Core-icons';
}

.WatermarkText
{
  color: #c1c5ca;
}

/*************************************/
/* added by LP */
.ExplanationText
{
  margin-top: 5px;
  margin-bottom: 15px;
}
/*#universal classes#*/
.desk-show, .tablet-show {
    display: none!important;
}
.mobile-only {
    display: block!important;
}
.flex-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
}
.phone {
    color: #6d4277!important;
}
/*#Glyphs#*/
a.circle-arrow:after, .sub-nav h2 a:after, .sub-nav h3 a:after, .green-external-link a:after, .panel-group a:before {
    position: relative;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
a.circle-arrow:after, .sub-nav h2 a:after, .sub-nav h3 a:after, .green-external-link a:after {
    content: "\e258";
    border-radius: 100%;
    background: #1c3d71;
    color: #fff;
    font-weight: 400;
    font-size: 12px;
    padding: 5px;
    margin-left: 10px;
    right: 15px;
    top: 15px;
    position: absolute;
}
footer a.circle-arrow:after {
    right: inherit;
    top: 3px; 
}
.green-external-link a:after {
    background: #fff;
    color: #6e7c34;
    top: 31%;
}
.panel-group a:before {
    content: "−";
    font-weight: normal;
    margin: 5px 7px 5px 0;
    font-size: 15px;
}

@media (min-width:768px) {
    .tablet-show {
        display: block!important;
    }
    .sub-nav h2 a:after, .sub-nav h3 a:after {
        right: 0;
        top: -2px;
        position: relative;
    }
}
@media (min-width:992px){
    .mobile-only {
        display: none!important;
    }
    .desk-show {
        display: block!important;
    }
    
}





/*#Colors#*/
.brand-blue-bg {
    background: #00529a;
}
.brand-blue {
    color: #00529a;
}
.navy-bg {
    background: #1c3d71;
}
.navy {
    color: #1c3d71;
}
.yellow-bg {
    background: #fdbf37;
}
.yellow {
    color: #fdbf37;
}
.light-blue-bg {
    background: #4897d2;
}
.light-blue {
    color: #4897d2;
}
.blue-bg {
    background: #6688a0;
}
.blue {
    color: #6688a0;
}
.blue-bg-trans {
    background: rgba(102,136,160,.9);
}
.green-bg {
    background: #6e7c34;
}
.green {
    color: #6e7c34;
}
.green-bg-trans {
    background: rgba(110,124,52,.9);
}
.orange-bg {
    background: #cd5332;
}
.orange {
    color: #cd5332;
}
.orange-bg-trans {
    background: rgba(205,83,50,.9);
}
.brown-bg {
    background: #af9f87;
}
.brown {
    color: #af9f87;
}
.brown-bg-trans {
    background: rgba(175,159,135,.9);
}
.purple-bg {
    background: #6d4277;
}
.purple {
    color: #6d4277;
}
.purple-bg-trans {
    background: rgba(109,66,119,.9);
}
.maroon-bg {
    background: #7a2944;
}
.maroon {
    color: #7a2944;
}
.maroon-bg-trans {
    background: rgba(122,41,68,.9);
}

.accordion-border {
  /*border: solid 1px #bcbec0;*/
}

.accordion-border .panel{
  /*border-bottom: solid 1px #bcbec0;*/
  
  margin: 0px;
}

.accordion-border .panel+.panel{
 margin-top: 0px; 
}

.FastFacts2Column .flex-height{
  overflow: hidden;
  }

/*#tile animation#*/
/*
* Caption component
*/
.caption {
    position: relative;
    overflow: hidden;

    /* Only the -webkit- prefix is required these days */
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
}

.caption::before {
    content: ' ';
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: transparent;
    transition: background .35s ease-out;
}

.caption:hover::before {
    background: rgba(0, 0, 0, .5);
}

.caption__media {
    display: block;
    min-width: 100%;
    max-width: 100%;
    height: auto;
}

.caption__overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 10px;
    color: white;
  
    -webkit-transform: translateY(100%);
            transform: translateY(100%);

    transition: -webkit-transform .35s ease-out;
    transition:         transform .35s ease-out;
}

.caption:hover .caption__overlay {
    -webkit-transform: translateY(0);
            transform: translateY(0);
}

.colored-overlay.rollover .content-area:hover .content, .colored-overlay.rollover .content-area:hover .content.two-line {
    bottom:0;
    
}

/*.caption__overlay__title {
    -webkit-transform: translateY( -webkit-calc(-100% - 10px) );
            transform: translateY( calc(-100% - 10px) );

    transition: -webkit-transform .35s ease-out;
    transition:         transform .35s ease-out;
}*/

.caption:hover .caption__overlay__title {
    -webkit-transform: translateY(0);
            transform: translateY(0);
}
/*#green boxes#*/
.green-border-box{
  min-height:195px;
}
.green-border-box .content-block h4{
  font-size:1rem;
  font-weight:500;
  text-transform:uppercase;
}
.green-border-box .content-block p{
  font-family:inherit;
  font-size:inherit;
}

.green-border-box .content-block a, .brown-border-left .content-block a{
  color:#00529a;
  text-decoration:underline;
}
.brown-border-left .content-block .button a{
  color:#fff;
  text-decoration:none;
}
.brown-border-left .white-bg{
  margin:0;
}
.brown-border-left h4{
  color:#903923;
}
.brown-border-left .content-block a{
  /*font-size:1em;*/
}
/*#Widget-enabled Accordion#*/

div.accwe {
  margin-bottom: 3rem;
}

.PaneHeader{
  font-size: 2.4rem;
  font-family: "Open Sans",sans-serif;
  font-weight: 500;
  color: #00529a;
  border: solid 1px #bcbec0;
  box-sizing: border box;
  padding: 10px;
}
.PaneHeaderNoBorder{
  font-size: 2.4rem;
  font-family: "Open Sans",sans-serif;
  font-weight: 500;
  color: #00529a;
  padding: 10px;
}

.PaneHeader a, .PaneHeaderNoBorder a {
  text-decoration:none;
}
.PaneHeader a:before, .PaneHeaderNoBorder a:before {
  content: "+";
  font-weight: bold;
  margin: 5px 7px 5px 0;
  /*font-size:1.2em;*/ 
}
.PaneHeader a:hover, .PaneHeaderNoBorder a:hover {
  color: #48A3DE;
}
.SelectedPaneHeader {
  font-size: 2.4rem;
  font-family: "Open Sans",sans-serif;
  font-weight: 500;
  color: #4897d2;
  border: solid 1px #bcbec0;
  box-sizing: border box;
  padding: 10px;
}
.SelectedPaneHeaderNoBorder {
  font-size: 2.4rem;
  font-family: "Open Sans",sans-serif;
  font-weight: 500;
  color: #4897d2;
  padding: 10px;
}
.SelectedPaneHeader a:before, .SelectedPaneHeaderNoBorder a:before {
    content: "−";
    font-weight: bold;
    margin: 5px 7px 5px 0;
    /*font-size:1.2em;*/
  }

.panel-body a:before {
    content: "";  
    font-weight: bold;
    margin: 0px; 
  }

.SelectedPaneHeader a, .SelectedPaneHeaderNoBorder a {
  text-decoration:none;
}
.PaneContent {
   border: solid 1px #bcbec0;
   box-sizing: border box;
   width: 100%;
   /*font-size: 1.5em; REMOVING TO FIX ADDITIVE FONT SIZE TOO BIG PROBLEM - BN 2018-01-08*/
}
.PaneContentNoBorder {
   border: none;
   box-sizing: border box;
   width: 100%;
   /*font-size: 1.5em; REMOVING TO FIX ADDITIVE FONT SIZE TOO BIG PROBLEM - BN 2018-01-08*/
}

.PaneContent .container, .PaneContentNoBorder .container {
  width:100%;
}

table .ccs-table {
	font-family:'Open Sans';
    width:100%;
	border: 1px solid #6688a0;
	border-spacing:0;
    margin:10px 5px;
}
.ccs-table th{
	background:#6688a0;
	color:#fff;
	padding: 5px;
	/*font-size:20px;*/
    font-size:2rem;
    text-transform:uppercase;
}
.ccs-table td{
	color:#000;
	/*font-size:14px;*/
    font-size:1.8rem;
    background:#ddd;
	padding:5px 10px;
	width:1px;
    text-align:left;
	
}
.ccs-table tr:nth-child(2n) td{
	background:#fff;
}
/*#Social Media Icons#*/
.twitterIconWithLink a
{
  background: url(https://sharedbeta.spokane.edu/ccsglobal/media/Global/WidgetAssets/SocialMedia/twitter-ccs-blue-circle.png) no-repeat;
  padding-left: 40px;
  display: block;
}
.facebookIconWithLink a
{
  background: url(https://sharedbeta.spokane.edu/ccsglobal/media/Global/WidgetAssets/SocialMedia/facebook-ccs-blue-circle.png) no-repeat;
  padding-left: 40px;
  display: block;
}
.instagramIconWithLink a
{
  background: url(https://sharedbeta.spokane.edu/ccsglobal/media/Global/WidgetAssets/SocialMedia/instagram-ccs-blue-circle.png) no-repeat;
  padding-left: 40px;
  display: block;
}
.flickrIconWithLink a
{
  background: url(https://sharedbeta.spokane.edu/ccsglobal/media/Global/WidgetAssets/SocialMedia/flickr-ccs-blue-circle.png) no-repeat;
  padding-left: 40px;
  display: block;
}

/*#Join Mail List Buttons#*/
#subscribeField
{
  padding-left: 30px;
  padding-right: 15px;
  float: left;
}
#subscribeButton
{
  margin-left: 35%;
  float: left;
}

/*#News Articles#*/
.newsSubText
{
  font-size: 1.5rem;
  line-height: 1.7;
}

.PagerResults
{
  font-size: 1.5rem;
}
.PagerNumberArea
{
  font-size: 1.5rem;
}
