﻿.divHideAgency 
{
    display:none;
}

.divHideParentAddr
{
    display:none;
}
.divShowParrentAddr
{
    display:block;
}
.divHideRelative 
{
    display:none;
}

.divHideMedical
{
    display:none;
}
.divShowMedical
{
    display:block;
}
.divHideSpecialNeeds
{
    display:none;
}
.divShowSpecialNeeds
{
    display:block;
}
.divHideHSGrad
{
    display:none;
}
.divShowHSGrad
{
    display:block;
}
.divHideTR
{
    display:none;
}
.divHideCC 
{
    display:none;
    background-color:#fff8dc;
}
.divHideHousingAddress 
{
    display:none;
}

.divHideShowHomeStay 
{
    display:none;
}
.homeStay
{
    background-color:ButtonFace;
}

.divHideFoodEat 
{
    display:none;
    background-color:ButtonFace;
}

.flowBot
{
    width: 80%;
}

.flowBot label
{
    margin-right:20px;
    font-weight:normal;
}

.flowBot2 label
{
    margin-right:175px;
    font-weight:normal;
    width:175px;
}

.divRequiredColor 
{
    background-color:#f0f0f0;
    width:690px;
    float:left;
}

.divError 
{
    color:#DD0000;
}

#studentApp_text li
{
	margin: 0 0 0 0;
}

