﻿/* RAVE ALERT STYLES */
.alertbanner 
{
    background-color:rgb(192,14,0);
    color:rgb(255,255,255);
    /* was 110% - too big for this site as percentage */
    font-size:100%;
    text-align:center;
    padding:8px;
}
.alertbanner a, .alertbanner h2 
{
    color:rgb(255,255,255);
}
.alertbanner h2, .alertbanner p
{
     margin:0px;
     padding:0px;
}
.alertbanner span
{
    /* was 120% - too big for this site as percentage */
    font-size:110%;
    font-weight:bold;
}
/* District site only */
#raveAlertBox 
{
    background-color:rgb(230,230,230);
    border-radius:.8em;
    padding:.5em;
    width:50%;
    float:left;
    margin:0em 1em .5em 0em;
}
#raveAlertBox h2  
{
    margin:0em;
    padding:0em;
    text-align:center;
}
#raveAlertBox div 
{
    margin:0em;
    padding:.5em 0em 0em 0em;
    text-align:center;
}
