﻿/*#Colors#*/
/*
brand blue #00529a;
sfcc navy blue #1c3d71; 
yellow #fdbf37;
scc light blue #4897d2;
ccs grey #595959;
light grey #e6e7e7;

secondary colors
Blue #6688a0;
green #6e7c34; 
orange #cd5332;
brown #b7a68f; 
purple #6d4277;
maroon #7a2944;
*/

/*#General#*/
.sites li a:hover, .sites li a:focus, .sites li a.active {
    background: #1c3d71;
    color: #fff;
}

/*#Header#*/
.brand-area {
    background:
        linear-gradient(
              rgba(72,151,210,.9), 
              rgba(72,151,210,.9)
            ),
            url(/images/MasterAssets/SCC-header-mobile.jpg);
    border-bottom: 0;
}

@media (min-width: 992px) {
    .brand-area {
        background: 
            linear-gradient(
              rgba(72,151,210,.9), 
              rgba(72,151,210,.9)
            ),
            url(/_netapps/internationalsa/App_Themes/images/MasterAssets/SCC-header-bg.jpg);
        background-position: center;
        background-repeat: no-repeat;
    }
}
@media (min-width: 1200px) {
    .logo img {
        max-width: 610px;
    }

}
/*#Navigation#*/


/*#buttons#*/
.button a {
    background: #4897d2; 
    color: #fff;
}
.button a:hover, .button a:focus {
    background: #00529a;
    color: #fff;
}


/*#Left Nav#*/
.left-nav {
    background: #ddeaf1;
}




