﻿/*#Colors#*/
/*
brand blue #00529a;
sfcc navy blue #1c3d71; 
yellow #fdbf37;
scc light blue #4897d2;
ccs grey #595959;
light grey #e6e7e7;

secondary colors
Blue #6688a0;
green #6e7c34; 
orange #cd5332;
brown #b7a68f; 
purple #6d4277;
maroon #7a2944;
*/


/*#General#*/


/*#Header#*/
.global-links {
    border-bottom: 3pt solid #4897d2;
}
.sites li a:hover, .sites li a:focus, .sites li a.active {
    background: #4897d2;
}

.brand-area {
    background: 
            linear-gradient(
              rgba(28,61,113,.9), 
              rgba(28,61,113,.9)
            ),
            url(/_netapps/internationalsa/App_Themes/images/MasterAssets/SFCC-header-mobile.jpg);
    border-bottom: 0;
}

@media (min-width: 992px) {
    .brand-area {
        background: 
            linear-gradient(
              rgba(28,61,113,.9), 
              rgba(28,61,113,.9)
            ),
            url(/_netapps/internationalsa/App_Themes/images/MasterAssets/SFCC-header-bg.jpg);
        background-position: center;
        background-repeat: no-repeat;
    }

}
@media (min-width: 1200px) {
    .logo img {
        max-width: 695px;
    }

}

/*#buttons#*/
.button a {
    background: #1c3d71; 
    color: #fff;
}
.button a:hover, .button a:focus {
    background: #4897d2;
    color: #fff;
}

/*#Left Nav#*/
.left-nav {
    background: #dfe1e5;
}


/*#Forms#*/
.formDirection
{
  border: 1px solid #000;
  padding: 15px;
  text-align: center;
}
.formDirection p
{
  line-height: 2.5;
}

