﻿.noPrint { display:none; }
body { font-size: .7 em; }
p { font-size: .7 em; }
h1 {
    text-transform: uppercase;
	color: Black;
	font-size: 1.1em;
    font-weight: 400;
}

h2 {
	font-size: 1em;
	color: Black;
}
h3 {
	font-size: .8em;
	color: Black;
    margin-bottom: 5px;
}
h4 {
	font-size: .7em;
	color: Black;
    margin-bottom: 5px;
}

