﻿body{
  background: white;
  font: 10pt/16pt verdana,arial,geneva,helvetica,serif;
  margin: 10px 0 10px 0;
  padding: 0;
  text-align: center;
}

#container{
  background-image:none;
  border: 3px solid #fff;
  margin: 0 auto;
  overflow: hidden;
  padding: 0;
  position: static;
  text-align: left;
  color : Black
}

#header, #breadcrumb, #sidemenu, #clearer, #footerbar, #footer, #radmenu, #tour, #rss, #clearer
{
	display: none;
}
#main #sidemenu
{
  display: none;
}
a
{
	text-decoration:none;
}
