body{
	background-color: #f0f6fc;
	text-align: center;
}

ol li {
  font-family: Arial;
  font-size:small;
}

div#container{
	background-color: rgb(255,255,255);
	margin: 0 auto;
	text-align: left;
	width: 950px;
}

#header{
	background-color: rgb(42,89,165);
	display: block;
	height: 93px;
	position: relative;
	width: 100%;
}

#header a{
	border: 0;
	text-decoration: none;
}

#header img{border: 0;}

#header h1,#header h2{
	margin: 0;
	overflow: hidden;
	position: absolute;
}

#header h1{
	height: 57px;
	left: 15px;
	top: 5px;
	width: 193px;
}

#header h2{
	height: 13px;
	line-height: 0em;
	left: 47px;
	top: 71px;
	width: 128px;
}

#header h1 a,#header h2 a{display: block;}

#header h1 a:hover img{
	margin-top: -93px;
}

#header h1 a{
	background-position: top left;
	height: 57px;
	width: 193px;
}

#header h1 a:hover{background-position: bottom left;}

#header h2 a{height: 13px; width: 128px;}

#header ul
{
	left: 236px;
	list-style: none;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 16px;
}

#header ul li{
	margin: 0;
	overflow: hidden;
	padding: 0;
	text-indent: -1000px;
}

#header ul li a{display: block;}

#header ul li#scc_link{height: 18px; margin-bottom: 8px; width: 228px;}
#header ul li#sfcc_link{height: 17px; margin-bottom: 9px; width: 267px;}
#header ul li#iel_link{height: 17px;width: 248px;}

#header ul li#scc_link a{
	background-image: url(../../App_Themes/GlobalEd/globalimages/link_scc.png);
	background-position: top left;
	height: 18px;
	width: 228px;
}

#header ul li#sfcc_link a{
	background-image: url(../../App_Themes/GlobalEd/globalimages/link_sfcc.png);
	background-position: top left;
	height: 17px;
	width: 267px;
}

#header ul li#iel_link a{
	background-image: url(../../App_Themes/GlobalEd/globalimages/link_iel.png);
	background-position: top left;
	height: 17px;
	width: 248px;
}

#header ul li a:hover{background-position: bottom left !important;}

#header form{
	font-size: 0;
	position: absolute;
	right: 0;
	top: 9px;
	width: 197px;
}

#header form p{margin: 0;}

#header form label{
	/* color: rgb(255,255,255); */
	color: rgb(42,89,165);
	display: block;
	font: 8pt Arial, Helvetica, Sans-Serif;
	margin-left: 5px;
	text-transform: lowercase;
}

#header form span{
	background-color: rgb(255,255,255);
	float: left;
	display: block;
	height: 21px;
	margin-left: 5px;
	vertical-align: middle;
	width: 160px;
}

#header form input{
	margin: 0;
	vertical-align: middle;
}

#header form input[type=text]{
	border: 0;
	font: 10pt/19px Arial, Helvetica, Sans-Serif;
	margin: 0;
	padding: 0;
	width: 160px;
}

#header form input[type=text]:hover{background-color: rgb(244,246,250);}

#header form input[type=image]{margin-top: -4px;}

#header form #bigfoot_link{
	display: block;
	height: 39px;
	width: 197px;
}

#header form #bigfoot_link a{
	background-image: url(../../App_Themes/GlobalEd/globalimages/mybigfoot.png);
	display: block;
	height: 39px;
	width: 197px;
}

/* Main navigation */

#nav{
	background-color: rgb(126,181,229);
	display: block;
	height: 25px;
	width: 100%;
}

#nav ul {
	float: right;
	list-style: none;
	margin: 0;
	margin-right: 13px;
	padding: 0;
}

#nav ul li{
	float: left;
	font: 9pt/25px Arial, Helvetica, Sans-Serif;
	text-align: center;
}

#nav ul li a{
	border-left: 1px solid rgb(255,255,255);
	color: rgb(255,255,255);
	padding: 0 15px;
	display: block;
	text-decoration: none;
}

#nav ul li a:hover{
	background-color: rgb(164,201,234);
	color: rgb(72,119,184);
}

#nav_menu {
   border-right: 1px solid rgb(255,255,255);
	position: relative;	/* !L */
	height: 100%;
	z-index: 1000;
}

#nav_menu>li{position: relative;}

#nav_menu>li ul li a:hover{background-color: rgb(250,234,133);}

#nav_menu .SubMenuCMSListMenuUL,#nav_menu .OtherSubMenusCMSListMenuUL{display: none;}

#nav_menu li:hover .SubMenuCMSListMenuUL,#nav_menu .OtherSubMenusCMSListMenuUL {
	background: rgb(248,217,48);
	border: 0;
	display: none;
	margin: 0;
	padding: 0;
	position: absolute;
	text-align: left;
	z-index: 120;
	width: 170px;
}

#nav_menu li:hover .SubMenuCMSListMenuUL,#nav_menu li:hover .SubMenuCMSListMenuUL li:hover .OtherSubMenusCMSListMenuUL{display: block;}

#nav_menu li:hover .SubMenuCMSListMenuUL li{float: left; position: relative; width: 100%;}

#nav_menu li:hover .SubMenuCMSListMenuUL li a{
	border: 0;
	color: rgb(0,0,0);
	padding: 0 2%;
	text-align: left;
	width: 96%;
}

#nav_menu .OtherSubMenusCMSListMenuUL{
	background: rgb(250,234,133);
	position: absolute;
	top: -2px;
	right: -100%;
}

#nav_menu li a.SubMenuCMSListMenuLinkArrow{
	background: url(images/header/menuarrow.gif) no-repeat 97% center;
}

#nav_menu li:nth-child(3) .OtherSubMenusCMSListMenuUL{right: 100%;}

/* Content */
#content{
	background-image: url(images/content/sidebar.png);
	background-position: 0 0;
	background-repeat: repeat-y;
}

/* International content */

#content.international_content{background-image: none;}

#content.international_content a{color: rgb(42,89,165); text-decoration: none;}
#content.international_content a:hover{color: rgb(223,0,33); text-decoration: underline;}


/* Side menu */
#content #menu{
	float: left;
	width: 223px;
}

#content #menu ul{
 	list-style: none;
 	margin: 0;
 	padding: 0;
 	padding-top: 20px;
}

#content #menu ul li{
	border-bottom: 2px solid rgb(184,195,192);
	font: 10pt/31px Arial, Helvetica, Sans-Serif;
	height: 31px;
 	margin: 0;
 	padding: 0;
}

#content #menu ul li.heading{
	font-weight: bold;
	text-transform: uppercase;
}

#content #menu ul li a{
	color: rgb(42,89,165);
	display: block;
	height: 31px;
	text-decoration: none;
	text-indent: 47px;
	width: 223px;
}

#content #menu ul li a:hover{background-color: rgb(248,222,113);}

#content #menu ul#menu_main li{border-bottom: 3px solid rgb(248,217,48);font-weight: bold;}

#content #menu ul#quicklinks li a{color: rgb(0,0,0);}

/* International menu */

#content.international_content #menu{
	margin: 0 30px 0 15px;
	width: 195px;
}

#content.international_content #menu form{
	margin-top: 17px;
}

#content.international_content #menu form p{margin-top: 0 !important;}

#content.international_content #menu form p select{
	background-color: rgb(248,217,48);
	color: rgb(42,89,165);
	font-weight: bold;
	width: 100%;
}

#content.international_content #menu ul{
	margin: 0;
	padding: 0;
	padding-top: 0;
}

#content.international_content #menu ul li{
	border: 0;
	height: 70px;
	margin-bottom: 17px;
	padding: 0;
}

#content.international_content #menu ul li a{
	background-color: rgb(32,89,165);
	color: rgb(238,217,48);
	display: block;
	font-size: 13px;
	font-weight: bold;
	height: 70px;
	line-height: 70px;
	padding: 0;
	text-indent: 31px;
	width: 195px;
}

#content.international_content #menu ul li a:hover, #content.international_content #menu ul li a.international_selected{
	background-color: rgb(99,123,186);
	text-decoration: underline;
}

.languageSelectionWithCultures{
	font: 14px/24px	Arial, Helvetica, Sans-Serif;
	margin-bottom: 24px;
}

.languageSelectionWithCultures img{
	margin-right: 5px;	
	vertical-align: middle;
}

/* Main text area */

#content #text{
	float: left;
	margin-left: 13px;
	margin-top: 13px;
	position: relative;
	width: 714px;
}

#content #text #current_events{
	background-color: rgb(239,246,252);
	font: 8pt/1.25em Arial, Helvetica, Sans-Serif;
	margin-top: 13px;
	width: 368px;
}

#content #text #current_events ul{
	border-top: 6px solid rgb(126,182,229);
	list-style: none;
	margin: 0;
	padding: 0 13px 42px 13px;
}

#content #text #current_events ul li{
	margin: 0;
	margin-bottom: 10px;
	padding: 0;
}

#content #text #current_events ul li.header{
	font-size: 12pt;
	margin-top: 13px;
	text-transform: uppercase;
}

#content #text #current_events ul li a{
	color: rgb(0,0,0);
	text-decoration: none;
}

#content #text #current_events ul li a span{font-weight: bold; text-decoration: underline;}

#content #text ul#featured_links{
	font: 10pt/1.25em Arial, Helvetica, Sans-Serif;
	left: 392px;
	list-style: none;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 336px;
	width: 109px;
}

#content #text ul#featured_links li{
	height: 60px;
	margin-bottom: 14px;
	width: 109px;
}

#content #text ul#featured_links li a{
	background-image: url(images/content/featured_links.png);
	background-position: 0 0;
	color: rgb(255,255,255);
	display: block;
	height: 45px;
	padding-top: 15px;
	text-align: center;
	text-decoration: none;
	width: 109px;
}

#content #text ul#featured_links li a:hover{background-position: 0 bottom;}

#content #text ul#easy_enrollment{
	background-color: rgb(254,250,230);
	font: Bold 12pt/1em Arial, Helvetica, Sans-Serif;
	list-style: none;
	margin: 0;
	padding: 0;
	position: absolute;
	right: 0;
	top: 336px;
	width: 188px;
}

#content #text ul#easy_enrollment li{
	background-position: 0 0;
	background-repeat: repeat-x;
	height: 27px;
	line-height: 27px;
	margin-bottom: 17px;
}

#content #text ul#easy_enrollment li#easy_enrollment_step_4{
	height: 39px;
	line-height: 16px;
}

#content #text ul#easy_enrollment li#easy_enrollment_step_7{margin-bottom: 0;}

#content #text ul#easy_enrollment li a{
	color: rgb(0,0,0);
	display: block;
	height: 27px;
	padding-left: 22px;
	text-decoration: none;
	width: 166px;
}

#content #text ul#easy_enrollment li#easy_enrollment_step_1 a{background-image: url(images/content/step1.jpg);}
#content #text ul#easy_enrollment li#easy_enrollment_step_2 a{background-image: url(images/content/step2.jpg);}
#content #text ul#easy_enrollment li#easy_enrollment_step_3 a{background-image: url(images/content/step3.jpg); color: rgb(42,89,165);}

#content #text ul#easy_enrollment li#easy_enrollment_step_4 a{
	background-image: url(images/content/step4.jpg);
	height: 36px;
	padding-top: 3px;
}

#content #text ul#easy_enrollment li#easy_enrollment_step_5 a{background-image: url(images/content/step5.jpg);}
#content #text ul#easy_enrollment li#easy_enrollment_step_6 a{background-image: url(images/content/step6.jpg);}
#content #text ul#easy_enrollment li#easy_enrollment_step_7 a{background-image: url(images/content/step7.jpg);}

#content #text ul#easy_enrollment li a:hover{background-position: 0 bottom;}

/* Main text International Program */

#content.international_content #text{
	font: 14px/20px Arial, Helvetica, Sans-Serif;
	margin-bottom: 17px;
	margin-top: 17px;	
	width: 680px;
}

#content.international_content #text h1{
	font-size: 24px;
	margin: 0;
}

#content.international_content #text h2{
	color: rgb(42,89,165);
	font-size: 14px;
	margin-bottom: 0;
}

#content.international_content #text #picture_nav{
	height: 165px;
	list-style: none;
	margin: 17px 0 35px 0;
	padding: 0;
	width: 100%;
}

#content.international_content #text #picture_nav li{
	float: left;
	height: 165px;
	position: relative;
	width: 226px;
}

#content.international_content #text #picture_nav li#picture_nav_3{width: 227px;}

#content.international_content #text #picture_nav li a{
	color: rgb(0,0,0);
	display: block;
	font-size: 13px;
	font-weight: bold;
	height: 100%;
	text-decoration: none;
	width: 100%;
}

#content.international_content #text #picture_nav li img{border: 0; left: 0; position: absolute; top: 0; z-index: 0;}
#content.international_content #text #picture_nav li#picture_nav_2 img,#content.international_content #text #picture_nav li#picture_nav_2 span{left: 13px;}
#content.international_content #text #picture_nav li#picture_nav_3 img,#content.international_content #text #picture_nav li#picture_nav_3 span{left: 27px;}


#content.international_content #text #picture_nav li a span{
	background-image: url(/App_Themes/ieufp/internationalimages/navhover.png);
	background-position-y: -500px;
	background-repeat: no-repeat;
	bottom: 0;
	height: 37px;
	left: 0;
	line-height: 37px;
	overflow: hidden;
	position: absolute;
	text-align: center;
	z-index: 2;
	width: 199px;
}

#content.international_content #text #picture_nav li a:hover span{background-position-y: 0;}

/* Sub text International Program */

#content.international_content #text h1{margin-bottom: 17px;}

#content.international_content #text #international_subpage{
	float: left;
	width: 495px;
}

/* Sub menu International Program */

#content.international_content #text #international_submenu{
	float: right;
	margin: 0;
	padding: 0;
	width: 166px;
}


#content.international_content #text #international_submenu_list,
#content.international_content #text #international_submenu_list2,
#content.international_content #text #international_submenu_list3{
	list-style: none;
	margin: 0;
	padding: 0;
}

#content.international_content #text #international_submenu_list ul,
#content.international_content #text #international_submenu_list2 ul,
#content.international_content #text #international_submenu_list3 ul{margin: 0; padding: 15px;}

#content.international_content #text #international_submenu ul li,
#content.international_content #text #international_submenu2 ul li,
#content.international_content #text #international_submenu3 ul li{margin: 0; margin-bottom: 17px;}

#content.international_content #text #international_submenu_list ul li a.international_firstCMSListMenuLinkHighlighted,
#content.international_content #text #international_submenu_list ul li a.international_secondCMSListMenuLinkHighlighted,
#content.international_content #text #international_submenu_list ul li a.international_thirdCMSListMenuLinkHighlighted,
#content.international_content #text #international_submenu_list2 ul li a.international_firstCMSListMenuLinkHighlighted,
#content.international_content #text #international_submenu_list2 ul li a.international_secondCMSListMenuLinkHighlighted,
#content.international_content #text #international_submenu_list2 ul li a.international_thirdCMSListMenuLinkHighlighted,
#content.international_content #text #international_submenu_list3 ul li a.international_firstCMSListMenuLinkHighlighted,
#content.international_content #text #international_submenu_list3 ul li a.international_secondCMSListMenuLinkHighlighted,
#content.international_content #text #international_submenu_list3 ul li a.international_thirdCMSListMenuLinkHighlighted{
	color: rgb(223,0,33);
	text-decoration: underline;
}

/* Footer */

#content #footer{
	background-color: rgb(138,173,212);
	background-image: url(images/content/footer.jpg);
	background-repeat: repeat-x;
	clear: both;
	color: rgb(255,255,255);
	display: block;
	font: 8pt/1.5em Arial, Helvetica, Sans-Serif;
	height: 50px;
	padding: 47px 0 0 0;
	position: relative;
}

#content #footer a{color: rgb(255,255,255);}

#content #footer a:hover{font-weight: bold;}

#content #footer address{
	font-style: normal;
	left: 47px;
	position:  absolute;
	top: 27px;
}

#content #footer div{position: absolute; top: 27px;}

#content #footer #phone_general{left: 276px;}

#content #footer #phone_operations{left: 430px;}

#content #footer #links1{left: 586px;}

#content #footer #links2{left: 744px;}

.subpage{
	font: 10pt/1.75em Arial, Helvetica, Sans-Serif;
	margin-right: 13px;
	margin-bottom: 13px;
}

#crumbs{
	background-color: rgb(239,246,252);
	font-size: 8pt;
	line-height: 1.5em;
	margin-bottom: 13px;
	padding: 3px 6px;
}

.subpage h1{font-size: 18pt; margin-top: 0;}

.subpage a{
	color: rgb(42,89,165);
	transition-duration: .5s;
		-moz-transition-duration: .5s;
		-webkit-transition-duration: .5s;
}

.subpage a:hover{color: rgb(72,119,184);}

table{line-height: 1.5em;}

/* css for the two column templates */

#twocol body{
     text-transform: none;
}

#twocol h1{font-family:Arial;
	font-weight: bold;
	font-size: large;
	text-transform:uppercase;
}

#twocol h2{font-family:Arial;
	font-weight: bold;
	font-size: large;
	text-transform:uppercase;
}

#twocol h3{font-family:Arial;
	font-weight: bold;
	font-size: large;
	text-transform:uppercase;
}

#twocol h4{font-family:Arial;
	font-weight: bold;
	font-size: medium;
}
#twocol a{font-family: Arial;
	font-size:small;
}

#twocol caption {font-family: Arial;
	font-size:x-small;
}

#twocol table {width:100%;
	border:0;
}

#twocol td {width:50%;
	padding-right:10px;
	padding-left:10px;
	vertical-align:top;
}

#twit 
{
	float: right;
	margin-right: 13px;
	/* margin-top: 13px; */
	position: relative;
	/* width: 714px; */
}

#face 
{
    float:right;
    margin-right: 13px;
    position: relative;
    vertical-align:middle;
}
	
	
