#header ul {
	top: 30px;
}

#content.global_content{
	background: rgb(255,255,255);
	position: relative;
}

#nav_menu_LI_0_5_3191{display: none;}

/* Page titles for Global site */

#global_header{
	background-color: rgb(42,89,165);
	border-top: 8px solid rgb(255,255,255);
	height: 70px;
	position: relative;
	z-index: 0;
}

#global_header h1{
	color: rgb(255,255,255);
	font: Bold 36px/1em Arial, Helvetica, sans-serif;
	left: 240px;
	margin: 0;
	position: absolute;
	top: 18px;
}

/* Global frontpage navigation */

#global_fp_nav{
	height: 307px;
	margin-bottom: 43px;
	position: relative;
}

#global_fp_nav img{border: 0;}

.global_fp_button{
/* background: #a0a0a0; */
	float: left;
	height: 307px;
	margin: 0;
	overflow: hidden;
	position: relative;
	width: 309px;
}

#global_fp_button_two{
	margin: 0 11px 0 12px;
}

.global_fp_button a{
	color: rgb(0,0,0);
	text-decoration: none;
}

.global_fp_button a span{
	background: rgb(225,229,243);
	display: block;
	font: Bold 20px/49px Arial, Helvetica, sans-serif;
	height: 49px;
	margin: -4px 0 0 0;
	text-align: center;
	transition: 0.5s background;
		-moz-transition: 0.5s background;
		-ms-transition: 0.5s background;
		-webkit-transition: 0.5s background;
		z-index: 10000;
	width: 100%;
}

.global_fp_button a:hover span{
	background: rgb(188,195,226);	
}

/* Global text */

#global_text{
	float: right;
	margin: 0 39px 150px 0;
	position: relative;
	font: 14px/20px Arial, Helvetica, sans-serif;
	width: 675px;
}

#global_welcome{
	color: rgb(42,89,165);
	font: bold 30px/1.3em Arial, Helvetica, sans-serif;
	margin: 0 0 32px 0;
	width: 550px;
}

.global-social{
	margin: 0 0 0 0;
	position: absolute;
}

.global-social-fp{
	top: 450px;
}

.global-social img{border: 0;}

#global-facebook{right: 65px;}
#global-facebook.global-social-fp{left: 80px;}
#global-twitter.global-social-fp{left: 120px;}

#global_text h1 
{
    color:Black;
    font-size: 20px;
	margin-top: 0;
}
#global_text h2{
	color: rgb(42,89,165);
	font-size: 18px;
	margin-top: 0;
}

#global_text a{
	color: rgb(42,89,165);
	text-decoration: none;
}
/*

#global_text ul{
	list-style: none;
	padding: 0;
}
*/
#global_text li{
/* 	background: url(/App_Themes/ieufp/globalimages/arrow.png) 0 5px no-repeat; */
	margin: 0 0 20px 0;
/* 	padding-left: 20px; */
}

/* Global side menu */
#global_bluestripe{
	background: url(/App_Themes/ieufp/globalimages/blue-stripe.png);
	height: 22px;
	position: absolute;
	top: 316px;
	width: 764px;
	z-index: 5;
}

.study_abroad_content #global_bluestripe{
	top: 270px;
}

#global_sidemenu{
	float: left;
	margin: 0 0 30px 0;
	position: relative;
	font: 14px/20px Arial, Helvetica, sans-serif;
	width: 236px;
}

#global_breadcrumb{
	font: 16px/46px Arial, Helvetica, sans-serif;
	list-style: none;
	margin: 10px 0 0 0;
	padding: 0;
}

#global_breadcrumb a{
	color: rgb(88,89,91);
	display: block;
	height: 100%;
	text-decoration: none;
	text-indent: 30px;
	transition: .2s background;
		-moz-transition: .2s background;
		-ms-transition: .2s background;
		-webkit-transition: .2s background;
	width: 100%;
}

#global_breadcrumb a:hover, #global_breadcrumb a.selected{
	background: rgb(195,201,229);
}

#global_sidemenu h2{
	background: url(/App_Themes/ieufp/globalimages/small_blue_bar.png) 0 top repeat-x;
	color: rgb(42,89,165);
	margin: 64px 0 0 14px;
	padding: 25px 14px 5px 24px;
}

#global_sidemenu_subpages{
	list-style: none;
	margin: 11px 0 0 14px;
	padding: 0;
}

.LevelThreeMenuCMSListMenuUL{display: none !important;}

#global_sidemenu_subpages .MainMenuCMSListMenuLI>a,
a.MainMenuCMSListMenuLinkHighlighted
{
	background: rgb(42,89,165);
	color: rgb(255,255,255);
	display: block;
	font-weight: bold;
	line-height: 35px;
	margin-top: 3px;
	text-decoration: none;
	text-indent: 23px;
	width: 100%;
}

.LevelTwoMenuCMSListMenuUL{
	background: rgb(232,235,246);
	font-size: 13px;
	list-style: none;
	margin: 0;
	padding: 14px 0;
}

#global_sidemenu_subpages .LevelTwoMenuCMSListMenuUL{display: none;}

#global_sidemenu_subpages .LevelTwoMenuCMSListMenuUL a{
	color: rgb(0,0,0);
	display: block;
	text-decoration: none;
	text-indent: 47px;
	width: 100%;
}


/* International Main Menu */
#international_main_menu{
	background-color: rgb(42,89,165);
	display: block;
	position: relative;
	height: 46px;
	z-index: 5;
}

#international_main_menu_list{
	left: 5px;
	list-style: none;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0;
	z-index: 5;
}

#international_main_menu_list a{
	background: url(../../App_Themes/GlobalEd/globalimages/int-menu.png) 0 0 no-repeat;
	color: rgb(126,182,229);
	display: block;
	height: 54px;
	padding: 4px 0 0 0;
	text-align: center;
	text-decoration: none;
	width: 130px;
}

#international_main_menu_list span{
	cursor: hand;
	display: block;
	height: 54px;
	padding: 4px 20px 0 0;
	width: 113px;
}

#international_main_menu_list a:hover,#international_main_menu_list a.selected{
	background: url(../../App_Themes/GlobalEd/globalimages/int-menu.png) 0 bottom no-repeat;
	color: rgb(255,255,255);
}

#international_quick_find p{color: rgb(126,182,229); margin: 6px 0 0 0;}

#international_quick_find select{
	border: 0;
	border-radius: 12px;
		-moz-border-radius: 12px;
		-ms-border-radius: 12px;
		-webkit-border-radius: 12px;
	width: 113px;
}


#international_main_menu_list li{
	float: left;
	font: 14px/17px Arial, Helvetica, sans-serif;
	height: 54px;
	margin: 0 0 0 5px;
	width: 130px;
}

/* International Sub Menu */

#international_students_nav{
	float: right;
	height: 100px;
	list-style: none;
	margin: 13px 0 0 0;
	padding: 0;
	width: 695px;
}

#international_students_nav li{
	float: left;
	font: Bold 12px/17px Arial, Helvetica, sans-serif;
	list-style: none;
	text-align: center;
/* 	width: 116px; */
}

#international_students_nav a{
	background-color: rgb(126,182,229);
	border-radius: 8px;
		-moz-border-radius: 8px;
		-ms-border-radius: 8px;
		-webkit-border-radius: 8px;
	color: rgb(42,89,165);
	display: block;
	height: 35px;
	margin: 0 1px;
	max-width: 120px;
	padding: 5px 15px;
	text-decoration: none;
}

#international_students_nav a:hover, #international_students_nav a.MainCMSListMenuLinkHighlighted{
	color: rgb(255,255,255);
	-webkit-box-shadow: rgba(0,0,0,.5) 5px 5px 5px;
		-moz-box-shadow: rgba(0,0,0,.5) 5px 5px 5px;
		-ms-box-shadow: rgba(0,0,0,.5) 5px 5px 5px;
		-webkit-box-shadow: rgba(0,0,0,.5) 5px 5px 5px;
}

.MainCMSListMenuLI ul, .MainCMSListMenuHighlightedLI ul{display: none;}

/* International Text */
#global_text.global_international_text{
	/* margin: 48px 165px 150px 0; */
	margin: 48px 65px 150px 0;
	/* width: 528px; */
	width: 628px;
}

#global_facebook .global_international_text{left: 810px;}

#global-facebook-international{
	left: 65px;
	top: 265px;
}

#global-twitter-international{
	left: 105px;
	top: 265px;
}

#global-facebook-international.global-social-sp, #global-twitter-international.global-social-sp{
	top: 245px;
}

.study_abroad_content #global-twitter-international, .study_abroad_content #global-facebook-international{
	top: 203px;
}

#international_landing_image{
	margin-bottom: 49px;
	z-index: 1;
}

/* International text */
.global_international_subpage_text{
	margin-top: 164px;
}

/* American Honors */
#american_honors_landing_image{margin-bottom: 31px;}

#american_honors_heading{
	color: rgb(42,89,165);
	margin: 0;
	font-size: 38px;
	font-weight: normal;
	line-height: 1em;
}

#american_honors_subheading{
	color: rgb(42,89,165);
	font-weight: normal;
	margin-bottom: 35px;
}

#american_honors_logo{
	left: 71px;
	margin: 0;
	position: absolute;
	top: 381px;
}
/*
p 
{
    background-color:White;
    width:100%;
    color:Black;
    padding-top:3px;
}
*/
.sectionHeading 
{
    background-color:#2a59a5;
    color:White;
    font-weight:bold;
    height:1.75em;
}

label 
{
    font-weight:bold;
}
.testInfo
{
    width:200px;
    float:left;
}

.divHideAgency 
{
    display:none;
}

.divHideParentAddr
{
    display:none;
}
.divShowParrentAddr
{
    display:block;
}
.divHideRelative 
{
    display:none;
}

.divHideMedical
{
    display:none;
}
.divShowMedical
{
    display:block;
}
.divHideSpecialNeeds
{
    display:none;
}
.divShowSpecialNeeds
{
    display:block;
}
.divHideHSGrad
{
    display:none;
}
.divShowHSGrad
{
    display:block;
}
.divHideCC 
{
    display:none;
    background-color:#fff8dc;
}
.divHideHousingAddress 
{
    display:none;
}

.divHideShowHomeStay 
{
    display:none;
}
.homeStay
{
    background-color:ButtonFace;
}

.divHideFoodEat 
{
    display:none;
    background-color:ButtonFace;
}

.flowBot label
{
    margin-right:20px;
    font-weight:normal;
}

.flowBot2 label
{
    margin-right:175px;
    font-weight:normal;
    width:175px;
}

.divRequiredColor 
{
    background-color:#f0f0f0;
    width:690px;
    float:left;
}

.divError 
{
    color:#DD0000;
}

#studentApp_text li
{
	margin: 0 0 0 0;
}

