﻿table.position
{
    font-size: 85%;
    border: 1px solid #ddddbb;
    border-collapse: collapse;
    width: 100%;
}

table.position th,table.position caption
{
    background: #f3f3f3 url('images/defaults/dark.gif') repeat-x 0 bottom;
    border: 1px solid #ddddbb;
    font-weight: bold;
    padding: 5px;
}

table.position td
{
    background: #fff url('images/defaults/light.gif') repeat-x 0 bottom;
    border: 1px solid #ddddbb;
    padding: 5px;
    text-align: left;
}

table.position td.dark{background: #f3f3f3 url('images/defaults/dark.gif') repeat-x 0 bottom;}

table.positionIE
{
    font-size: 70%;
    border: 1px solid #ddddbb;
    border-collapse: collapse;
    width: 100%;
}

